@import 'styleguide/AntDesignCustomTheme.less';

.ixc-metro-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  background-color: black;
  overflow: auto;
}

.ixc-metro-heading {
  font-family: DM Sans;
  font-size: 36px;
}

.ixc-metro-heading.dark {
  color: @gray-P1;
}

.ixc-metro-select {
  width: 100%;
}

/* Metro Buttons */
.ixc-metro-btn {
  text-align: center;
  height: 80px;
  background-color: @primary-color;
  border-color: @primary-color;
  font-weight: bold;
  font-size: 36px;
  color: white;
  width: 100%;
  transition: @smooth-transition;
  text-transform: uppercase;

  &:focus,
  &:hover {
    background-color: lighten(@primary-color, 10%);
    border-color: lighten(@primary-color, 10%);
    color: white;
  }

  &.red-btn {
    background-color: @metro-red;
    border-color: @metro-red;

    &:focus,
    &:hover {
      background-color: lighten(@metro-red, 10%);
      border-color: lighten(@metro-red, 10%);
      color: white;
    }
  }

  &.green-btn {
    background-color: @metro-green;
    border-color: @metro-green;

    &:focus,
    &:hover {
      background-color: lighten(@metro-green, 10%);
      border-color: lighten(@metro-green, 10%);
      color: white;
    }
  }
}

/* Metro Modals */
.metro-modal {
  .ant-modal-content {
    background-color: @smoke-1;

    .ant-modal-header {
      text-align: center;
      background-color: @smoke-1;
      .ant-modal-title {
        font-size: 36px;
        color: @gray-P1;
        font-weight: bold;
      }
    }

    .ant-modal-body {
      .ant-input-affix-wrapper {
        width: 100%;
        .ant-input {
          height: 64px;
          width: 100%;
          font-size: 24px;
        }

        .ant-input-prefix {
          margin-right: 16px;
          .anticon {
            svg {
              height: 24px;
              width: 24px;
            }
          }
        }
      }

      .ant-form-item {
        display: flex;
        flex-direction: column;
        justify-content: left;
        .ant-form-item-label {
          text-align: left;
          margin-bottom: 8px;
          label {
            font-size: 24px;
          }
        }
        .ant-form-item-explain-error {
          font-size: 24px;
        }
      }
    }

    .ant-modal-footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

.sample-header-modal {
  .ant-modal-body {
    padding: 10px 10px 0 10px;
  }
  .ant-form-item-label > label {
    font-size: 18px !important;
  }
  .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
  }
  .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    font-size: 18px;
    display: inline-block;
    margin-left: 4px;
    color: #ff4d4f;
    font-family: 'DM Sans';
    line-height: 1;
    content: '*';
  }
}

#sample-header-info_serial {
  height: @m-row-height;
  font-size: 24px;
}
