@import 'styleguide/AntDesignCustomTheme.less';

.color-picker-overlay {
  z-index: 2000;
  .ant-popover-inner-content {
    padding: 4px;
  }
}

.sketch-picker {
  box-shadow: none !important;
}

.color-picker-swatch {
  height: 40px;
  width: 108px;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid @gray-M1;
  cursor: pointer;

  &.disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }

  .color-picker-color {
    height: 100%;
    width: 100%;
  }
}
