@import 'styleguide/AntDesignCustomTheme.less';

label {
  span.label-text {
    margin-right: 2px;
  }
  span.required {
    color: red;
    font-size: 1em;
    font-weight: bold;
  }
}

.text-area-wrapper {
  position: relative;

  .ant-btn {
    position: absolute;
    right: 4px;
    top: 4px;
    height: 24px;
    width: 24px;
    visibility: hidden;
  }

  .ant-input {
    padding-right: 32px;
  }

  .ant-input:focus ~ .ant-btn {
    visibility: visible;
  }
}

label.stretch-input .ant-select {
  width: 100%;
}

.form-section {
  padding-top: 15px;
}

.form-section:first-child {
  padding: 0 0 10px 0;
}

.form-input {
  align-items: center;
  display: block;
  margin: 8px 0;

  .ant-select {
    display: block;
  }
}

.ant-select-item {
  &.hide-option {
    display: none;
  }
}

.ant-cascader-menu {
  .ant-cascader-menu-item {
    &.ant-cascader-menu-item-loading {
      display: none;
    }
  }
}

.form-group {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;

  .form-row-container {
    height: 32px;
    display: flex;
    align-items: center;
  }

  .form-label-hint {
    margin-left: 4px;
    color: @primary-color;
  }

  .group-flex-end {
    align-self: flex-end;
  }
}

.label-text {
  margin-right: 10px;
  min-width: 100px;
  text-align: right;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-buttons button {
  margin: 0;
}

.form-group .form-input {
  flex: 1;
  margin: 0 10px 0 0;
}

.form-group .form-input:last-child {
  margin-right: 0;
}

.form-group .group-flex-1 {
  flex: 1;
  .ant-select {
    width: 100%;
  }
}

.group-flex-1 {
  flex: 1;
  .ant-select {
    width: 100%;
  }
}

.form-group .group-flex-2 {
  flex: 2;
}

.form-group .group-flex-3 {
  flex: 3;
}

.form-group .group-flex-5 {
  flex: 5;
}

.add-option {
  padding: 2px 4px;
  cursor: 'pointer';
}

.switch-input {
  display: flex;
  flex-direction: column;
  flex: none;
  align-items: stretch;

  .label-text {
    text-align: left;
    width: fit-content;
    min-width: 75px;
  }
}

.drawing-number-input {
  #number-input {
    display: flex;
    align-items: center;

    button {
      margin-right: 5px;
    }
  }

  .form-label-hint {
    margin-left: 4px;
    color: @primary-color;
  }
}