@import '../../AntDesignCustomTheme.less';

.ixc-sample-header-container {
  display: block;
  width: 130px;
  min-width: 130px;
  padding: 0;
  margin: 0px 1px;
  background-color: white;

  &:hover {
    opacity: 0.8;
  }
}

.ixc-sample-header-status-bar {
  width: 100%;
  height: 8px;
}

.ixc-sample-header-content {
  height: 88px;
  color: @metro-gray;
  font-family: 'DM Sans';
  text-align: center;
  background-color: @metro-light-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ixc-sample-header-timer-serial {
  font-weight: bold;
  font-size: 14px;
}

.ixc-sample-header-sample {
  font-size: 36px;
  line-height: 36px;
}

.ixc-sample-header-coverage {
  font-weight: bold;
  font-size: 12px;
}

// Variants
.ixc-sample-header-Unmeasured {
  .ixc-sample-header-status-bar {
    background-color: @metro-light-gray;
  }
}

.ixc-sample-header-Fail {
  .ixc-sample-header-status-bar {
    background-color: @metro-red;
  }
}

.ixc-sample-header-Scrap {
  .ixc-sample-header-status-bar {
    background-color: @metro-red;
  }
  .ixc-sample-header-content {
    background-color: @metro-light-gray;
    color: @slate-2;
  }
  .ixc-sample-header-timer-serial,
  .ixc-sample-header-coverage {
    display: none;
  }
}

.ixc-sample-header-Pass {
  .ixc-sample-header-status-bar {
    background-color: @metro-green;
  }
}

.ixc-sample-header-Selected {
  box-shadow: inset 0px 0px 0px 4px @metro-highlight-blue;
  box-sizing: border-box;
  transition: @smooth-transition;
  .ixc-sample-header-content {
    background-color: unset;
  }
  .ixc-sample-header-sample {
    font-weight: bold;
  }
  .ixc-sample-header-coverage {
    font-size: 18px;
  }

  &.sample-cell-Pass {
    box-shadow: inset 0px 0px 0px 4px @metro-green;
  }

  &.sample-cell-Fail {
    box-shadow: inset 0px 0px 0px 4px @metro-red;
  }

  &.sample-cell-Scrap {
    box-shadow: inset 0px 0px 0px 4px @metro-red;
  }
}

.ixc-sample-header-Empty {
  .ixc-sample-header-status-bar {
    background-color: @metro-light-gray;
  }
  .ixc-sample-header-content {
    background-color: @metro-light-gray;
    color: @slate-2;
  }
  .ixc-sample-header-timer-serial,
  .ixc-sample-header-coverage {
    display: none;
  }

  cursor: not-allowed;
}
