/* See https://developer.chargify.com/content/chargify-js/example.html */

.chargify-js-wrapper {
  display: flex;
  flex-flow: column;
  width: 500px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#chargifyNumber iframe,
#chargifyMonth iframe,
#chargifyYear iframe,
#chargifyCvv iframe,
#chargifyFirstName iframe,
#chargifyLastName iframe,
#chargifyAddressLine1 iframe,
#chargifyAddressLine2 iframe,
#chargifyCity iframe,
#chargifyState iframe,
#chargifyZip iframe,
#chargifyCountry iframe {
  width: 100% !important;
  height: 84px !important;
}

.card-front {
  display: flex;
  flex-flow: column;
}

.card-back,
.name,
.addressCityStateZip,
.addressZipCountry {
  display: flex;
  flex-flow: row;
}

#chargifyMonth,
#chargifyYear {
  width: 100%;
  margin-right: 0px;
}

#chargifyYear {
  margin-right: 0px;
}

#chargifyExpiration {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin-right: 16px;
}

#chargifyFirstName,
#chargifyCity,
#chargifyState {
  margin-right: 16px;
  width: 100%;
}

#chargifyLastName,
#chargifyCountry,
#chargifyZip {
  margin-right: 0;
  width: 100%;
}

#submit {
  display: none;
}

#submit.visible {
  display: block;
}

.cardButtons {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 8px;
  }
}

.submission-error {
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: #ff4949;
  font-size: 14px;
  margin-bottom: 16px;
  line-height: 18px;

  .anticon {
    height: 16px;
    width: 16px;
    margin-right: 4px;

    svg {
      height: 16px;
      width: 16px;
    }
  }
}

#chargifyCvv {
  width: 100%;
}

.chargify-hidden {
  display: none;
}

.form-spinner {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
