@import 'styleguide/AntDesignCustomTheme.less';

.revision-banner {
  align-items: center;
  background-color: @sunshine;
  bottom: 0;
  display: flex;
  height: @row-height;
  min-height: @row-height;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

.ant-layout-sider-trigger {
  bottom: 1px;
  position: absolute;
  width: 100% !important;
}

.revision-history-card {
  border-bottom: 1px solid @slate;
  display: flex;
  padding-bottom: 5px;
  margin-bottom: 10px;

  h2,
  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
  }

  p {
    align-items: center;
    display: flex;
    font-size: 12px;
    margin: 0;
  }

  .revision-icon {
    margin-right: 10px;
  }

  .card-status {
    display: block;
    height: 12px;
    margin-right: 5px;
    width: 12px;

    &.current-true {
      background-color: @seafoam;
    }

    &.current-false {
      background-color: @coral;
    }
  }
}
