@import 'styleguide/AntDesignCustomTheme.less';

.select-header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon svg {
  width: 248px;
  height: 34px;
  color: @primary-color;
}

.search-button {
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-button svg {
  width: 64px;
  height: 64px;
  color: @smoke;
}

.cancel-button {
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;

  font-family: 'DM Sans';
  font-size: 36px;
  font-weight: bold;
  color: @smoke;
}

.ixc-grid-header {
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 64px;
  line-height: 83px;
  text-align: center;
  color: @smoke;
}
