.form-section {
  padding-top: 15px;
}

.form-section:first-child {
  padding: 0 0 10px 0;
}

.form-input {
  align-items: center;
  display: block;
  margin: 8px 0;
}

.form-group {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.label-text {
  margin-right: 10px;
  min-width: 100px;
  text-align: right;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-buttons button {
  margin: 0;
}

.form-group .form-input {
  flex: 1;
  margin: 0 10px 0 0;
}

.form-group .form-input:last-child {
  margin-right: 0;
}

.form-group .group-flex-2 {
  flex: 2;
}

.form-group .group-flex-3 {
  flex: 3;
}

.form-group .group-flex-5 {
  flex: 5;
}
