.contact-us {
  display: flex;
  flex-direction: column;

  .question-prompt {
    margin-bottom: 8px;
  }

  .contact-methods {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-top: 8px;

    .contact-title {
      font-family: 'DM Sans';
      font-weight: bold;
    }
    .contact-row {
      .anticon {
        margin-right: 8px;
      }
    }
  }
}

// .contact-us.Horizontal {
//   justify-content: center;
//   .question-prompt {
//     margin: 0;
//   }
.contact-methods.Horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;

  .contact-title {
    font-family: 'DM Sans';
    font-weight: bold;
  }
  .contact-row {
    margin-top: 0;
    margin-left: 16px;
    .anticon {
      margin-right: 8px;
    }
  }
}
// }

.lost-contact > .contact-methods {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .contact-row {
    .anticon {
      margin-right: 8px;
    }
  }
}
