@import 'styleguide/AntDesignCustomTheme.less';

.pricing-table,
.pricing-table-header-row,
.pricing-table-header-cell,
.pricing-table-feature-row,
.pricing-table-feature-cell,
.plan-feature-check {
  border: 1px solid @smeel;
  font-family: 'DM Sans';
}

.pricing-options {
  display: flex;
  flex-direction: row;
  width: 100%;

  .feature-list {
    margin-right: @column-width;
    .pricing-table-feature-row {
      height: fit-content;
      border: none;
      display: flex;
      flex-direction: row;

      .pricing-table-feature-cell {
        font-size: 20px;
        padding: 8px;
        border: none;
      }
      .plan-feature-check {
        padding: 12px 0;
        text-align: center;
        width: calc(@column-width / 2);
        border: none;

        .anticon {
          height: @half-height;
          width: @half-height;
          color: @primary-color-P2;

          svg {
            height: @half-height;
            width: @half-height;
          }
        }
      }
    }

    .contact-us {
      margin-left: 48px;
      margin-top: 24px;
    }
  }

  .pricing-cards {
    display: flex;
    flex-direction: column;
    width: calc(@column-width * 6);

    .pricing-cards-header {
      text-align: right;
      margin-bottom: 16px;

      .pricing-period-tabs {
        .ant-tabs-nav {
          margin-bottom: 8px;
          .ant-tabs-nav-wrap {
            justify-content: flex-end;

            .ant-tabs-tab {
              margin: 0px 0px 0px 32px;
              font-family: 'DM Sans';
              font-size: 20px;
            }
          }
        }
      }

      .disclaimer {
        font-size: 14px;
        font-style: italic;
        color: rgba(0, 0, 0, 0.85);
      }
    }

    .pricing-cards-list {
      display: flex;
      flex-direction: column;

      .pricing-card {
        height: 120px;
        border: 2px solid @smoke;
        border-radius: 4px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 16px;
        box-shadow: @ix-shadow;

        .pricing-card-type {
          display: flex;
          flex-direction: column;

          .pricing-card-type-name {
            font-size: 40px;
            line-height: 50px;
            font-family: Paralucent;
          }

          .pricing-card-type-qty {
            font-family: 'DM Sans';
            font-size: 16px;
            line-height: 24px;
          }
        }

        .pricing-card-cost {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          text-align: right;

          .pricing-card-cost-amount {
            color: @primary-color-P2;
            font-size: 40px;
            line-height: 40px;
            font-family: Paralucent;
          }

          .pricing-card-cost-period {
            font-family: 'DM Sans';
            color: @steel;
            font-style: italic;
            font-size: 16px;
            line-height: 20px;
          }

          .pricing-card-cost-saving {
            font-family: 'DM Sans';
            font-size: 16px;
            text-decoration: line-through;
          }
        }
      }

      .pricing-card:hover {
        cursor: pointer;
        border: 2px solid @primary-color-M2;

        .pricing-card-type {
          .pricing-card-type-name {
            color: @primary-color-P2;
          }

          .pricing-card-type-qty {
            color: @primary-color-P2;
          }
        }
      }
    }
  }
}
