@import 'styleguide/AntDesignCustomTheme.less';

.subscription-advertisement {
  display: flex;
  flex-direction: column;
  margin-bottom: @half-height;

  .advertisement-line {
    font-family: 'DM Sans';
    font-size: 24px;
    color: black;
    display: flex;
    flex-direction: row;
    margin-bottom: @half-height;

    .anticon {
      height: 32px;
      width: 32px;
      margin-right: 8px;

      svg {
        height: 32px;
        width: 32px;
        color: @primary-color-P1;
      }
    }
  }
}
