@import 'styleguide/AntDesignCustomTheme.less';

#verified {
  flex: 1;
}

.verified-status-container {
  text-align: center;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  .verified {
    padding: 4px;
    height: 30px;
    width: 100px;
  }
  .verified-status-label {
    font-size: 14px;
  }

  .ant-switch-inner {
    margin: 0 7px 0 20px;
  }

  .ant-switch-handle {
    top: 5px;
  }

  .ant-switch {
    background-color: @sunshine-P1;
  }

  .ant-switch-checked {
    background-color: @seafoam-P1;
    .ant-switch-inner {
      margin: 0 20px 0 7px;
    }
  }
}
