.pdftron-overlay-drag-handle {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.pdftron-overlay {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  border: 2px solid #b3cdfd; // FabricJS resize handle color
}

.resize-handle-wrapper {
  height: 20px;
  width: 20px;
  border: 2px solid #b3cdfd; // FabricJS resize handle color
  background-color: transparent;
  z-index: 11;
}

.rnd-container {
  left: 0px;
  top: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
