.part-canvas {
  padding: 0px !important;
  width: 100%;
  position: relative;
}

.pdf-viewer {
  padding: 0px !important;
}

.draggable-modal-area.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% - 20px);
  width: 100%;
}

.resize-handle {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1052;
  cursor: nwse-resize;
}
