@import 'styleguide/AntDesignCustomTheme.less';

.tolerance-section {
  margin-bottom: 16px;

  .edit-in-place textarea {
    font-size: 0.9em;
    padding: 5px;
    overflow-y: hidden;
  }

  h2 {
    font-size: 1.2em;
  }

  .precision-select {
    width: 90%;
    &.validation-error .ant-select-selector {
      border-color: #f5222d;
    }
    .ant-select-selection__rendered {
      font-size: 0.9em;
      padding: 0 5px;
      margin: 0 24px 0 5px;
    }
  }
}

.tolerance-PrecisionTolerance {
  width: 120px;
}

.select-save-input {
  max-width: 225px;
}

.stretch-label {
  display: flex;
  width: 100%;

  span {
    flex: 1;
  }
}

#defaultTolerances {
  .label-text {
    text-align: left;
  }
  .ant-collapse-header > .panel-header {
    font-size: 18px;
  }
}

.tolerances-table {
  margin-top: 10px;
  width: 100%;

  thead tr {
    border-bottom: 1px solid gray;
  }

  thead th {
    padding-right: 5px;
    vertical-align: text-bottom;
  }

  .edit-in-place {
    max-height: 30px;
    margin: 0;
  }
}

.range-inputs {
  display: flex;
  flex-flow: row wrap;
  max-width: 250px;
  align-items: center;
  padding: 0 10px 0 0;

  &.fullWidth {
    justify-content: center;
    min-width: 138px;

    span {
      flex: 1;
    }

    span.range-divider {
      padding: 0 1px;
      width: 3px;
    }

    .edit-in-place {
      min-width: 80px;

      textarea {
        overflow-x: hidden;
        word-wrap: unset;
        border: 1px white solid;
      }
    }
  }

  .range-divider {
    padding: 0 5px;
  }

  .edit-in-place {
    flex: 1;
    min-width: 30px;
  }
}

.tolerance-actions {
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: space-between;
}

.unit-row {
  font-weight: normal;
}

.unit-selector {
  flex: 1;
  margin-left: 5px;
  width: 96px;
}

.preset-row {
  .ant-select-selector {
    border-radius: 2px 0px 0px 2px !important;
  }

  .ant-btn,
  .ant-tooltip-disabled-compatible-wrapper {
    border-radius: 0px 2px 2px 0px;
    max-height: 40px;
  }
}

.tols-collapse {
  .tols-collapse-panel {
    .ant-collapse-header {
      padding-left: 0;
      display: flex;
      flex-direction: row;

      .anticon {
        position: initial;
        padding: 5px 0;
        margin-right: 8px;
      }
    }

    .ant-collapse-content {
      .ant-collapse-content-box {
        padding: 12px 0;
      }
    }
  }
}

.stack-buttons {
  flex-direction: column;

  .btn {
    margin-bottom: 10px;
  }
}
