.ixc-job-select-content {
  margin-top: 48px;
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;

  section {
    margin-bottom: 24px;
  }
}

.ixc-job-select-pdf-container {
  height: 300px;
}
