@import '../../../AntDesignCustomTheme.less';

.ixc-data-cell-outer {
  height: 100%;
  width: 132px;
  min-width: 132px;
  background-color: @metro-light-blue;
  display: block;
  border-top: 1px solid @smoke-1;
  border-bottom: 1px solid @smoke-1;
  border-right: 1px solid @smoke-1;
  border-left: 1px solid @smoke-1;

  &.ixc-data-cell-header {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

.ixc-data-cell-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'DM Sans';

  &:hover {
    opacity: 0.8;
  }
}

.ixc-data-cell-full-width {
  width: 100%;
}

.ixc-data-cell-Selected {
  background-color: white;
  box-shadow: inset 0px 0px 0px 4px @metro-highlight-blue;
  transition: @smooth-transition;
  border: none;

  &.cell-status-Pass {
    box-shadow: inset 0px 0px 0px 4px @metro-green;
  }

  &.cell-status-Fail {
    box-shadow: inset 0px 0px 0px 4px @metro-red;
  }
}

.ixc-data-cell-Disabled {
  background-color: @gray-M1;
  color: @gray-P1;
  box-shadow: none;
  cursor: not-allowed;
}

.ixc-data-cell-Pass {
  color: @metro-gray;
  background-color: @metro-light-green;

  &.ixc-data-cell-highlighted {
    color: @smoke-1;
    background-color: @metro-green;
    font-weight: bold;
  }
}

.ixc-data-cell-Fail {
  color: @metro-gray;
  background-color: @metro-light-red;

  &.ixc-data-cell-highlighted {
    color: @smoke-1;
    background-color: @metro-red;
    font-weight: bold;
  }
}
