@import 'styleguide/AntDesignCustomTheme.less';

.warnMessage {
  border-color: @warning-sunshine;

  &.small {
    color: @warning-sunshine;
  }
}

.trial-billing {
  // display: inline-flex;

  .subscription-pricing-table {
    // margin-right: @column-width;
  }
}

.contact-us {
  margin-left: @half-width;
}

h3.inline {
  display: inline;
}

h3.cancel {
  margin-left: 8px;
  color: @coral;
}

.info-buttons {
  margin-top: 8px;
  display: flex;

  button {
    margin-right: 16px;
  }
}

.sub-info {
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans';

  span {
    margin-bottom: 8px;
  }

  .ant-badge-status-dot {
    margin-bottom: 0;
  }
}

.cancel-modal-body-text {
  display: block;
  width: 320px;

  .info-text {
    margin-bottom: @half-height;

    .data-retention-icon {
      .anticon {
        margin-left: 8px;
        color: @primary-color;
      }
    }

    .contact-block {
      display: block;
    }

    .contact-methods {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      margin-top: 8px;

      .contact-title {
        font-family: 'DM Sans';
        font-weight: bold;
      }
      .contact-row {
        .anticon {
          margin-right: 8px;
        }
      }
    }
  }
}

.subscription-span-small {
  font-size: small;
}

.subscription-modal-branding {
  margin-top: 20px;
  margin-left: 44px;
}

.span-bold {
  color: black;
  font-weight: bold;
}

.span-warn {
  font-weight: bold;
  color: @coral-P2;
}

.notice {
  color: @slate-2;
  margin-left: 16px;
  position: relative;

  &:before {
    color: @sunshine-P2;
    content: '• ';
    font-size: 26px;
    font-weight: 900;
    left: -15px;
    position: absolute;
    top: -12px;
  }
}

.change-modal {
  width: 520px;
}

.cardModal .ant-modal-confirm-btns .ant-btn-primary {
  display: none;
}

.tier-info-modal {
  .ant-modal-content {
    width: max-content;
  }

  .feature-list {
    margin-right: @column-width;
    .pricing-table-feature-row {
      height: fit-content;
      border: none;
      display: flex;
      flex-direction: row;

      .pricing-table-feature-cell {
        font-size: 20px;
        padding: 8px;
        border: none;
      }
      .plan-feature-check {
        padding: 12px 0;
        text-align: center;
        width: calc(@column-width / 2);
        border: none;

        .anticon {
          height: @half-height;
          width: @half-height;
          color: @primary-color-P1;

          svg {
            height: @half-height;
            width: @half-height;
          }
        }
      }
    }
  }
}

.info-change-card-title {
  font-family: 'DM Sans';
  font-size: 24px;
  color: @primary-color;
}

.cardModal {
  .ant-modal-content {
    .ant-modal-body {
      padding-bottom: 0px;

      .ant-modal-confirm-body-wrapper::after {
        clear: none;
      }
    }

    .info-footer {
      margin: 16px 0 12px 0;
    }

    .footer-border {
      position: absolute;
      border-top: 1px solid #f0f0f0;
      left: 0;
      bottom: 42px;
      width: 564px;
    }
  }
}
