.matched-preset-options {
  margin: 16px 0;
  display: flex;
  flex-direction: column;

  .matched-tolerance-options,
  .matched-style-options {
    display: flex;
    flex-direction: column;
    margin: 8px;
  }

  .spacer {
    width: 24px;
  }
}

.preset-dropdown {
  z-index: 2000;
}
