@import 'styleguide/AntDesignCustomTheme.less';

.ixc-keypad-keys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .ixc-keypad-keys-column {
    display: flex;
    flex-direction: column;
  }
}

.ixc-keypad-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.ixc-keypad-numbers {
  width: 300px;
}

.ixc-keypad-button {
  background-color: @metro-num-primary;
  color: @smoke-1;
  border: 1px solid @metro-num-border;
  font-size: 2em;
  padding: 0px;
  border-radius: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  transition: @smooth-transition;

  &.enter {
    height: 300px;
  }

  &:hover {
    background-color: darken(@metro-num-primary, 5%);
  }
  &:active {
    background-color: darken(@metro-num-primary, 20%);
  }

  &.backspace {
    align-items: center;
    line-height: 115px;
    svg {
      color: @smoke-1;
    }
  }

  &.footer {
    align-items: center;
    justify-content: center;
    background-color: @smoke;
    color: @slate-1;
    font-size: 24px;

    &:hover {
      background-color: darken(@smoke, 5%);
    }
    &:active {
      background-color: darken(@smoke, 20%);
    }

    .anticon {
      margin-left: 4px;
    }

    &.control {
      width: 200px;
      height: 66px;
      border: none;
    }
  }

  &.gage {
    border: 1px solid @metro-num-border;
    font-family: DM Sans;
    // display: gageEntry ? none : flex;
    flex-direction: column;
    padding: 10px;
    width: 100px;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    background-color: @smoke;
    color: @slate-1;
    font-size: 24px;
    line-height: 32px;

    &.set {
      color: @primary-color;
    }

    &:hover {
      background-color: darken(@smoke, 5%);
    }
    &:active {
      background-color: darken(@smoke, 20%);
    }
  }

  &.save {
    background-color: @primary-color;
    font-family: DM Sans;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 8px;
    width: 20%;
    height: 80px;

    &:hover {
      background-color: darken(@primary-color, 5%);
    }
    &:active {
      background-color: darken(@primary-color, 20%);
    }
  }

  &.pass {
    height: 200px;
    background-color: @metro-green;
    align-items: center;
    justify-content: center;
    color: @smoke-1;
    &:hover {
      background-color: darken(@metro-green, 5%);
    }
    &:active {
      background-color: darken(@metro-green, 20%);
    }
  }

  &.fail {
    height: 200px;
    background-color: @metro-red;
    align-items: center;
    justify-content: center;
    color: @smoke-1;
    &:hover {
      background-color: darken(@metro-red, 5%);
    }
    &:active {
      background-color: darken(@metro-red, 20%);
    }
  }
}

.ixc-keypad-input-wrapper {
  padding: 2px 5px 5px 8px;
  align-items: center;
  border: 1px solid @metro-num-border;
  flex-grow: 1;

  .ixc-keypad-input-display {
    flex-grow: 1;

    .ixc-keypad-input {
      &:read-only {
        cursor: not-allowed;
      }
      font-family: 'DM Sans';
      border-radius: 0px;
      cursor: default;
      background: transparent;
      font-size: 2em;
      outline: none;
      border: none;
      width: 80%;
      background-color: white;

      &.ixc-keypad-input-placeholder {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: normal;
        opacity: 0.5 !important;
      }
    }
  }
}

.ixc-keypad-gage-input {
  font-family: 'DM Sans';
  height: 80px;
  width: 80%;
  border: 1px solid @metro-num-border;
  background-color: white;
  font-size: 2em;

  &.ixc-keypad-input-placeholder {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: normal;
  }
}

.ixc-keypad-container {
  display: flex;
  flex-direction: column;

  background-color: white;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.ixc-keypad-feature-controls {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 200px;
  border: 1px solid @metro-num-border;
  background-color: @smoke;

  .ixc-keypad-control-label {
    height: 32px;
    line-height: 32px;
    font-size: 24px;
    padding-top: 4px;
    background-color: @smoke;
    color: @slate-1;
    text-align: center;
  }

  .ixc-keypad-control-buttons {
    display: flex;
    flex-direction: row;

    .control-divider {
      height: 60px;
      background-color: @metro-num-border;
      width: 2px;
      margin: 8px 0;
    }
  }
}
