@import 'styleguide/AntDesignCustomTheme.less';

.report-drawer {
  background-color: transparent;
  box-shadow: @ix-shadow-right;

  .ant-layout-sider-children {
    justify-content: center;
  }

  label {
    display: block;
    width: 100%;
  }

  .filter-group {
    display: flex;

    .filter-picker {
      flex: 1;
    }

    .filter-button {
      background-color: #d7d7d7;
      border: none;
      border-radius: 2px;
      height: 32px;
      margin-left: 5px;
      width: 32px;
    }
  }
}

.report-panel-contents {
  flex: 1;
  padding: 48px 20px;
  overflow-y: auto;
}

.report-panel-footer {
  align-items: center;
  border-top: 1px solid @gray-M1;
  display: flex;
  flex-flow: row;
  height: @row-height;
  justify-content: space-between;
  padding: 0 @gutter-padding;

  .progress-footer {
    padding: 0px;
  }
}

.report-creator {
  display: flex;
}

section.section {
  margin-top: 16px;
}
