@import 'styleguide/AntDesignCustomTheme.less';

.ixc-full-toolbar-container {
  width: 100%;
  height: @row-height;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;

  .pdf-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    .tool-label {
      font-size: 12px;
      height: 18px;
      line-height: 18px;
      font-weight: bolder;
      color: rgba(255, 255, 255, 0.75);
    }
    .toolbar-select {
      height: 24px;
      font-size: 16px;
      width: inherit;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      .ant-select-selector {
        height: 24px;
        background-color: transparent;
        border: none;
        color: @smoke-1;
        padding: 0 12px 0 0;

        .ant-select-selection-item {
          line-height: 24px;
        }

        .ant-cascader-picker-arrow {
          color: @smoke-1;
          right: 0px;
        }
      }

      .ant-select-arrow {
        color: @smoke-1;
      }

      &.part-number {
        overflow-x: hidden;
        overflow-y: hidden;
        height: 20px;
        color: @smoke-1;
        font-size: 16px;
        font-weight: normal;
        height: 20px;
        line-height: 20px;
      }

      &.short {
        max-width: 160px !important;
      }

      &.wide {
        max-width: 400px !important;
      }
    }
  }

  .toolbar-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    background-color: transparent;
    color: @smoke-1;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    height: @row-height;
    width: @half-height;
    margin: 0 16px;
    border: 0px !important;
    padding: 0;
    float: left;

    .tool-label {
      font-weight: bolder;
      color: rgba(255, 255, 255, 0.75);
    }

    .anticon {
      margin-left: 0;
      height: 18px;
      width: 18px;

      svg {
        height: 18px;
        width: 18px;
      }
    }
  }

  .tool-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
    background-color: transparent;
    height: @row-height;
    font-size: 12px;
    font-weight: bold;

    .tool-label {
      font-weight: bolder;
      color: rgba(255, 255, 255, 0.75);
    }

    .tool-button-group {
      display: flex;
      flex-direction: row;
      gap: 8px;

      .toolbar-button {
        height: @half-height;
        width: fit-content;
        margin: 0 4px;
        cursor: pointer;

        .zoom-overlay-span {
          font-size: 16px;
          display: flex;
          flex-direction: row;
          line-height: @half-height;

          .anticon {
            padding: 5px 2px;

            &.anticon-down {
              height: 13px;
              width: 13px;

              svg {
                height: 13px;
                width: 13px;
              }
            }
          }
        }
      }
    }
  }

  .toolbar-page {
    color: @smoke-1;
    font-size: 16px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
  }

  .ant-btn:hover {
    color: white !important;
  }

  .ant-btn:active,
  .ant-btn:focus {
    background-color: rgba(0, 0, 0, 0.95);
  }

  .document-tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    gap: 16px;

    .drawing-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;

      .drawing-select {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        background-color: transparent;
        height: @row-height;
        font-size: 12px;
        font-weight: bold;

        .toolbar-part-number {
          height: 20px;
          display: flex;
          flex-direction: row;
          gap: 8px;
          align-items: center;

          .color-picker-swatch {
            height: 16px;
            width: 16px;
            padding: 1px;
          }
        }
      }
      .tool-label {
        font-size: 12px;
        height: 18px;
        line-height: 18px;
        font-weight: bolder;
        color: rgba(255, 255, 255, 0.75);
      }
      .toolbar-select {
        height: 20px;
        font-size: 16px;
        width: inherit;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        .ant-select-selector,
        .ant-cascader-input,
        .ant-cascader-picker-label,
        &.ant-cascader-picker {
          height: 20px;
          background-color: transparent;
          border: none;
          color: @smoke-1;
          padding: 0 12px 0 0;

          .ant-select-selection-item {
            line-height: 20px;
          }

          .ant-cascader-picker-arrow {
            color: @smoke-1;
            right: 0px;
          }
        }

        .ant-select-arrow {
          color: @smoke-1;
        }

        &.part-number {
          overflow-x: hidden;
          overflow-y: hidden;
          height: 20px;
          color: @smoke-1;
          font-size: 16px;
          font-weight: normal;
          height: 20px;
          line-height: 20px;
        }

        &.short {
          max-width: 160px !important;
        }

        &.wide {
          max-width: 400px !important;
        }
      }
    }
  }
}

.anticon.flipH {
  transform: scaleX(-1);
}

.toolbar-select.ant-cascader-picker {
  input {
    width: fit-content;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 20px !important;
  height: 16px !important;
  margin: 4px auto;
  margin-bottom: 0px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: @smoke-1;
  height: 2px !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100px !important;
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 16px 0;
}

/* Individual item */
.bm-item {
  display: inline-block;

  &.tool-button-group {
    justify-content: center;
    align-items: center;
    display: flex !important;
    flex-direction: column !important;
  }

  .tool-button-group-tight {
    width: 100%;
  }
}

/* Styling of overlay */
.bm-overlay {
  width: 100px;
  background: rgba(0, 0, 0, 0.3);
}
