@import 'styleguide/AntDesignCustomTheme.less';

.ant-list {
  height: 100%;
}

.draggable-item,
.draggable-item:focus,
.draggable-item:hover {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-left: 1px solid gainsboro;
}

/* Track */
::-webkit-scrollbar-track {
  //background: rgba(25, 24, 24, 0.10);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: @slate-4;
  width: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken(@slate-4, 10%);
}

.feature-list-container {
  flex: 1;
  overflow-y: auto;

  div.ant-empty {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
  }
}

div.feature-list-container::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 48px;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  width: 97%;
  height: 24px;
}

.end-list-item {
  opacity: 0;
}

.ant-layout-content {
  .ant-layout-sider {
    .ant-layout-sider-children {
      background-color: white;
    }

    .ant-layout-sider-trigger {
      background-color: white;
      border-top: 1px solid @gray-M1;

      .anticon {
        color: black;
      }
    }
  }
}

div.ant-list-empty-text {
  padding: 0 !important;
}

div.ant-spin-nested-loading {
  height: inherit;
}

div.ant-spin-container {
  height: inherit;
}

div.feature-vlist {
  height: inherit !important;
  overflow-x: hidden !important;
  -webkit-transition: @smooth-transition;
  transition: @smooth-transition;

  li {
    height: 100%;
  }
}

.copyItem {
  background-color: white;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 5px;

  &:first-child {
    z-index: 10;
    top: 0;
    left: 0;
  }

  .balloon-number {
    width: 48px;
  }
}
