.feature-panel-container {
  height: 100%;
  position: relative;
  text-align: center;

  .feature-panel-header {
    height: 48px;
    line-height: 48px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 6px;
  }

  .feature-panel-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
  }
}
