.popoverDiv {
  position: absolute;
  z-index: 10;
  width: 1px;
  height: 1px;
}

.popoverDiv:focus {
  outline: none;
}

.popoverFooter {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.popoverButton {
  margin-right: 10px;
}

.feature-error-description {
  display: flex;
  flex-direction: row;

  .anticon {
    padding-top: 4px;
    margin-right: 8px;
    height: 14px;
    width: 14px;

    svg {
      height: 14px;
      width: 14px;
    }
  }
}
