@import 'styleguide/AntDesignCustomTheme.less';

div.feature-panel-container {
  height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  div.feature-panel-header {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid @gray-M1;
    padding: 2px 16px 2px 16px;
    justify-content: space-around;
  }

  div.feature-panel-footer {
    // position: absolute !important;
    width: 100%;
    height: 48px;
    // line-height: 48px !important;
    text-align: center !important;
    justify-content: space-between !important;
    border-top: 1px solid @gray-M1;

    .progress-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 16px;
      padding: 0;
    }
  }

  div.feature-panel-footer.collapsed {
    // position: absolute !important;
    width: 100%;
    height: 48px;
    // line-height: 48px !important;
    text-align: center !important;
    justify-content: space-around !important;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
  }
}

#SideNavMenu ul.ant-menu .ant-menu-item-disabled.ant-menu-item.ant-menu-item.ixc-step-item {
  color: white !important;

  &.ant-menu-item-selected {
    color: black !important;
  }

  &:hover {
    cursor: default;
  }
}

section.ant-layout.ant-layout-has-sider {
  main#partEditor {
    aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger {
      box-shadow: 0px 0px 0px black !important;
      padding: 0px !important;

      div.ant-layout-sider-children {
        box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.5) !important;
      }

      div.ant-layout-sider-children {
        // background-color: white;
      }
    }
  }
}
div.ant-layout-sider-trigger {
  background-color: white;
  border-top: 1px solid @gray-M1;

  .anticon {
    color: black;
  }
}

#SideNavMenu {
  div.ant-layout-sider-trigger {
    border-top: 0;

    .anticon {
      color: @secondary-color;
    }
  }
}
