/* Move the left panel to the right */
.LeftPanel {
  left: inherit;
  right: 0;
  top: 0;
  border-right: 0 none;
  border-left: 1px solid var(--border-color);
}

.LeftPanel > .resize-bar {
  display: none;
}

.thumbnail-panel-active + .document-content-container {
  margin-left: 0 !important;
  margin-right: 278px !important;
}

.thumbnail-panel-active.closed + .document-content-container {
  margin-left: 0 !important;
  margin-right: 0px !important;
}

/* Fix transition to close panel to the right edge */
.LeftPanel.closed {
  transform: translateX(100%);
}

/* Hide the panel header */
.LeftPanel .left-panel-header {
  display: none;
}

/* Move the DocumentContainer margin to the right when the left panel is open */
.DocumentContainer.left-panel {
  margin-right: var(--left-panel-width);
  margin-left: 0;
}

/* Flip the left panel button icon to match the right panel */
.ToggleElementButton[data-element='leftPanelButton'] .Icon {
  rotate: 180deg;
}

/* Fix zoom dropdown to not take up full width of screen,  */
div[data-element='zoomOverlay'] {
  left: inherit !important;
  right: 0px !important;
  top: 0px !important;
}
