@import '../../AntDesignCustomTheme.less';

.ixc-meta-data-filters-container {
  width: 100%;
  padding: 16px;
  background-color: @smoke-1;
}

.ixc-meta-data-filters-title {
  font-weight: bold;
  font-size: 24px;
  color: @slate-1;
}

.ixc-meta-data-filters-pills {
  margin-top: 28px;
}

.ixc-meta-data-filters-pill {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 11px;
}

.ixc-meta-data-filters-buttons {
  margin-top: 22px;
  text-align: right;
}
