@import 'styleguide/AntDesignCustomTheme.less';

.panel-header {
  font-family: 'DM Sans';

  .info-block {
    display: flex;
    flex-direction: row;

    p {
      font-size: 14px;
      line-height: 21px;
      color: #4c4c4c;
    }

    .anticon {
      margin: 2px 8px 0px 0px;
      color: @azure;
    }
  }

  header {
    line-height: 48px;
    font-size: 24px;
    color: @primary-color-P2;
    border-bottom: 1px solid @heavy-gray;
    margin-bottom: 8px;
    padding: 0px;

    small {
      font-size: 18px;
    }

    .anticon {
      margin-left: 8px;
      font-size: 18px;
    }
  }
}
