.quantity-badge:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.notification-badge:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

div.count-badge {
  position: absolute;
  z-index: 2;
  top: 2px;
  right: -4px;
  margin: 0px !important;
}
