@import 'styleguide/AntDesignCustomTheme.less';

#SideNavMenu {
  .ant-menu {
    background-color: @primary-color-P2;
    border-right: none;

    .ant-menu-submenu {
      &.ant-menu-submenu-selected {
        background-color: darken(@primary-color-P2, 10%);
        color: @secondary-color;
      }
    }

    .ant-menu-submenu-title,
    .ant-menu-item {
      color: @secondary-color;
      margin: 4px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .ant-menu-title-content,
      .ant-menu-title-content > span:first-of-type:not(.anticon) {
        height: @half-height;
        display: flex;
        flex-direction: row;
        align-items: center;

        .nav-text {
          text-overflow: ellipsis;
        }
      }

      &.ant-menu-item-selected {
        background-color: darken(@primary-color-P2, 10%);

        &:active {
          color: @secondary-color;
          background-color: darken(@primary-color-P2, 10%);
        }
      }

      &:hover {
        color: @nav-icon-hover;
      }

      &:active {
        color: @secondary-color;
        background-color: darken(@primary-color-P2, 10%);
      }
    }

    .anticon {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: @half-height;
      height: @half-height !important;
      width: @half-height !important;
      min-width: @half-height !important;
      line-height: @half-height;
    }

    .ixc-step-group {
      .ant-menu-item-selected {
        padding-left: 16px !important;
      }
    }

    &.ant-menu-inline-collapsed {
      .ixc-step-group .ant-menu-item-selected {
        padding-left: 0px !important;
      }

      .nav-text {
        display: none;
      }
    }

    .ixc-step-group {
      background-color: darken(@primary-color-P2, 10%);
      box-shadow: inset 0 0 5px black;
      padding: 12px 0px;
      .ant-menu-item-group-title {
        display: none;
      }
      .anticon {
        font-size: 18px;
        height: 18px;
        width: 18px;
        svg {
          margin: auto auto;
          width: 18px;
          height: 18px;
        }
      }
      .ant-menu-item {
        color: @secondary-color;
        padding: 0px;
        &.ant-menu-item-selected {
          color: black;
          background-color: white;
          border-radius: 10px;
          width: 90%;
          margin: 4px auto;
          .ant-menu-title-content {
            .anticon {
              font-size: @half-height;
              height: @half-height;
              width: @half-height;
              svg {
                margin: auto auto;
                width: @half-height;
                height: @half-height;
              }
            }
          }
        }

        &:active {
          color: @secondary-color;
          background-color: darken(@primary-color-P2, 10%);
        }
      }
    }
    .ant-menu-submenu-arrow {
      color: @secondary-color;
    }
  }

  .ant-menu-inline .ant-menu-selected::after,
  .ant-menu-inline .ant-menu-item-selected::after {
    border-right: 0px !important;
  }

  div.ant-layout-sider-trigger {
    background-color: darken(@primary-color-P2, 10%);
    color: @secondary-color;
  }
}

.ant-menu-submenu.ant-menu-submenu-popup {
  background: @primary-color-P2;

  .ant-menu {
    background-color: @primary-color-P2;
  }

  .ant-menu-item {
    background-color: @primary-color-P2;
    color: @secondary-color;
  }

  .ant-menu-item:active {
    background-color: darken(@primary-color-P2, 10%);
  }

  .ant-menu-item:hover {
    color: @nav-icon-hover;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: darken(@primary-color-P2, 10%);
    border-right: 0px !important;
  }
}

.ant-menu-inline-collapsed-tooltip > .ant-tooltip-content > .ant-tooltip-inner {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  .anticon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    svg {
      margin: auto auto;
      width: 18px;
      height: 18px;
    }
  }
}
