@import 'styleguide/AntDesignCustomTheme.less';

.measurements-container {
  width: 132px;
  min-width: 132px;
  max-height: 422px;
  padding: 2px;
  background-color: @smoke-1;
  position: absolute;
  right: 4px;
  display: flex;
  flex-direction: column;

  .measurements-title {
    font-size: 16px;
    display: block;
  }

  .measurements-required {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }

  .measurements-buttons {
    display: flex;
    flex-direction: column;

    .measurements-section {
      display: flex;
      flex-direction: column;
      max-height: 284px;
      overflow-y: hidden;

      .measurement-button {
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
        text-align: right;
        margin: 2px 0;
        width: 100%;
        height: 52px;
        min-height: 52px;

        &.selected {
          border: 4px solid @metro-highlight-blue;
        }

        &.Pass {
          background-color: @metro-green;
          border: 4px solid @metro-green;
          color: white;
        }

        &.Fail {
          background-color: @metro-red;
          border: 4px solid @metro-red;
          color: white;
        }

        &.selected {
          background-color: white;
          color: black;
        }
      }
    }

    .ant-btn:empty {
      visibility: visible;
      height: @row-height;
    }

    .measurements-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      margin-bottom: 4px;
      .measurement-nav-btn {
        width: calc(50% - 2px);

        span {
          font-size: 24px;
        }
      }
    }
  }
}
