@import 'styleguide/AntDesignCustomTheme.less';

.ixc-profile-container {
  display: inline-block;
}

.ixc-profile-container:hover {
  opacity: 0.8;
}

.ixc-profile {
  width: 240px;
  height: 240px;
  border-radius: 16px;
  background-color: @primary-color;
  color: @smoke-1;
  font-size: 96px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ixc-profile-title {
  margin-top: 17px;
  max-width: 240px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: @smoke-1;
  text-align: center;
  word-break: break-word;
}

.ixc-profile-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.ixc-profile-container.master {
  .ixc-profile {
    background-color: transparent;
  }
}

.master-station-icons {
  .master-station-icons-row {
    height: 64px;
    line-height: 64px;
    td {
      height: 64px;
    }
  }
}
