@import 'styleguide/AntDesignCustomTheme.less';

.warnMessage {
  border-color: @warning-sunshine;

  &.small {
    color: @warning-sunshine;
  }
}
.price-table {
  display: flex;
  flex-flow: row;
  min-width: 250px;

  .flex-col p {
    margin: 0;
    padding: 5px 0;

    &:nth-child(odd) {
      background-color: #fafafa;
    }
  }
}
