@import '../../../AntDesignCustomTheme.less';
@import '../../../mixins.less';

.ixc-data-table-feature-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .ixc-data-table-feature-info {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: auto;

    .ixc-data-table-feature-number {
      background-color: @coral-P1;
      color: white;
      display: inline-block;
      border-radius: 20px;
      height: 40px;
      width: 40px;
      font-weight: bold;
      text-align: center;
      font-family: 'DM Sans';
      font-size: 18px;
      line-height: 40px;
      margin-left: 5px;
    }
  }

  .ixc-data-table-feature-detail {
    font-size: 24px;
    height: 32px;
    width: 32px;
    margin: 0px 8px;
  }

  .ixc-data-table-feature-label {
    display: inline-block;
    color: @metro-gray;
    font-size: 24px;
    font-weight: bold;
    font-family: 'DM Sans';
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
