.used-styles-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 360px;
  height: fit-content;

  .balloon-preview-container {
    width: fit-content;
    height: 36px;
    padding: 4px 0;
    margin-right: 8px;

    .edit-style-btn {
      padding: 0 8px;
      height: 28px;
      width: 48px;
      border: none;

      .style-delete-button {
        position: absolute;
        z-index: 100;
        width: 12px;
        height: 12px;
        padding: 0;
        margin: 0;
        right: 0;
        top: 0;
        visibility: hidden;

        button {
          border: none;
          position: absolute;
          z-index: 100;
          width: 16px;
          height: 16px;
          padding: 0;
          margin: 0;
          border-radius: 8px;
          line-height: 16px;

          svg {
            height: 16px;
            width: 16px;
            padding: 0;
            margin: 0;
          }
        }
      }

      &:hover {
        .style-delete-button {
          visibility: visible;
        }
      }
    }
  }
}

.ant-popover-inner {
  .style-popover-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin-bottom: 0;
    }
  }

  .ant-popover-inner-content {
    .balloon-assignment {
      gap: 8px;
      .ant-select {
        min-width: 80px;
      }
    }
  }
}
