@import 'styleguide/AntDesignCustomTheme.less';

@font-face {
  font-family: 'InspectionXpert GDT';
  src:
    local('InspectionXpert GDT'),
    url('../fonts/InspectionXpertGDT.woff') format('woff');
}
@import 'styleguide/mixins.less';

.excelViewer {
  flex: 1;
}

.excelComponent {
  display: flex;
  height: 100%;
  flex: 1;
  flex-flow: row;
  overflow: hidden;

  .handsontable table.htCore {
    height: 100%;
    font-family: 'InspectionXpert GDT';
  }
}

.excelTable {
  background-color: #f5f5f5;
  height: 100%;
  padding: @half-height @gutter-padding @row-height;
  width: auto;
  z-index: 10;

  .wtHolder,
  .wtHider {
    width: auto !important;
  }

  .ht_clone_left .wtHolder {
    overflow: hidden;
  }

  .borderless-excel,
  .bordered-excel {
    position: relative;
  }
}

.sheetsNav {
  background-color: #eeeeee;
  display: flex;
  flex-flow: column;
  height: 100%;

  .sheetsContainer {
    flex: 1;
    max-height: calc(100% - @row-height);
    padding: 10px;
    overflow: auto;
  }

  .ant-layout-sider-children {
    background-color: #eeeeee !important;
  }

  .ant-layout-sider-trigger {
    border-top: 1px solid @gray-M1;
    background-color: #eeeeee;
    color: black;
  }

  .collapsed .sheet span {
    max-width: 45px;
  }

  .sheet {
    align-items: center;
    border: none;
    background-color: transparent;
    color: black;
    display: flex;
    flex-flow: column;
    height: auto;
    justify-content: center;
    margin: @gutter-padding auto;
    padding: 9px;
    position: relative;

    i {
      font-size: 42px;
      height: 42px;
      width: 42px;
    }

    span {
      margin: 0;
      max-width: 75px;
      overflow: hidden;
      padding-top: 10px;
      text-overflow: ellipsis;
    }

    .thumbnail {
      background-color: white;
      height: 130px;
      margin: 10px 22px;
      width: @column-width;
    }

    img {
      width: @column-width;
    }

    &.active {
      background-color: #cccccc;
    }
  }
}

.selected-cell {
  overflow-x: scroll;
  min-width: 32px;
  min-height: 84px;
}

.cell-input {
  min-width: 24px;
  padding: 4px;
  display: inline-block;
  cursor: text;
}

.cell-input:focus {
  outline: 0;
}

.selected-cell {
  resize: both;
  padding: 4px;
  overflow: auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  height: fit-content;
  min-width: 100px;
  min-height: 84px;

  .top-container-buttons {
    height: 16px;
    top: 4px;
    right: 4px;
    color: @slate-1;
  }

  .bottom-container-buttons {
    height: 18px;
    position: absolute;
    bottom: 4px;
    left: 4px;
    margin-top: 4px;
    color: @slate-1;

    .ant-btn {
      padding: 0px 0px;
      height: 18px;
      font-size: 14px;

      svg {
        color: @slate-1;
        fill: @slate-1;
        height: 18px;
        width: 18px;
      }

      span {
        margin-left: 4px;
      }
    }
  }
}

.cell-input-container {
  font-family: 'InspectionXpert GDT';
  padding: 4px;
}

.cell-container {
  border-radius: 2px;
  border: 1px solid @primary-color;
  height: fit-content;
  min-width: 100px;
  min-height: 84px;
}

.drop-container {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 2px;
}

.cell-drop {
  z-index: 100;
  transform: translate(-4px);
}

.cell-drop.hover {
  background-color: @royal-M4;
}

.excelHeader {
  display: flex;
  flex-direction: row;
  height: @row-height+ @half-height;
  justify-content: space-between;

  .excel-title-container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-flow: row;
  }

  .excel-title-file {
    font-size: 40px;
  }

  .excelTitle {
    .title-font();
    line-height: 22px;
    text-align: left;
    align-self: center;
    display: flex;
    flex: 1;
    flex-direction: column;

    .excelStatus {
      font-family: 'DM Sans';
      font-size: 12px;
      line-height: 22px;
      margin-left: 5px;
    }

    .titleInput {
      align-items: center;
      display: flex;
    }

    .excel-title-input {
      background: transparent;
      border: 1px solid #f5f5f5;
      display: block;
      max-width: 256px;
      min-width: @row-height;
      padding: 4px 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 2px;

      &:hover {
        border-color: black;
      }

      &:focus {
        text-overflow: clip;
      }
    }

    .excel-title-edit {
      margin-left: 5px;
    }
  }

  .excelActions {
    text-align: right;
    align-self: center;
    display: flex;
    flex-direction: row;

    button {
      margin-left: 8px;
    }
  }
}

.excelDownload {
  border: none;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    color: @primary-color;
    cursor: pointer;
  }
  &:active {
    background-color: transparent;
    color: @primary-color;
  }
}

.menu-item-checkbox {
  input {
    margin-right: 8px;
  }
}

/* Styles for Printing */
.PrintTables {
  display: block;
  font-size: 12pt;
  height: 100%;
  page-break-after: always;
  page-break-inside: avoid;

  th,
  td {
    border: none;
  }

  .wtHolder,
  .wtHider {
    width: auto !important;
    overflow: visible;
  }
}

.PrintContainer {
  page-break-after: avoid !important;
  page-break-before: avoid !important;
  position: absolute;
}

@media screen {
  .PrintContainer {
    display: none;
  }
}

.PrintController {
  display: none;
}
