.patRegister {
  margin-left: 170px;
  background-color:rgb(224, 220, 253);
  display:flex;
  justify-content: center;
  
  height: 100%;  
  color:black;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: x-small;
}

.patRegisterForm{
  margin-left: 170px;
  margin-top: 10px;
  display:flex;
  justify-content: left;  
  height: 100%;  
  color:black;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: x-small;  
}

h1{
    text-align: center;
    color: black;
    align-items: center;
}

label{
    color: black;
    font-size: medium;
    padding-right: 20px;
    padding-left: 0px;
    box-sizing: border-box;
    font-weight: bold;
    width: 150px;
    text-align: right;    
    float: left;
}

 div {
        margin-bottom: 10px;
      }

input[type=text],select {
    border-radius: 15px;
    border: 1px solid slateblue;
    padding: 9.5px 14.5px;
    margin-bottom: 9.5px;
    font-size: 13.5px;    
    width:150px; 
    float:left;
}

#submit {    
  background-color: slateblue;
  padding-top: 10px;
  padding-bottom: 10px;
  color:black;
  font-weight: bold;
  width: 100px;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.item1 { 
    grid-area: header; 
}
.item2 { 
    grid-area: menu; 
}
.item3 { 
    grid-area: main; 
}
.item4 { 
    grid-area: right; 
}
.item5 { 
    grid-area: footer; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 1px;
  
  padding: 1px;
  width: 100%;
}

.grid-container > div {
  text-align: center;
  padding: 1px 0;
  font-size: 20px;
  font-weight: bold;  
}

td{
    width: 25%;
    align-items: left;
    padding-right: 20px;
}
