@import 'styleguide/AntDesignCustomTheme.less';

.template-card-list {
  margin: 20px 0;

  h2 {
    display: flex;
    font-size: 14px;
    font-family: 'DM Sans';
    color: @slate-1;
    border-bottom: 1px solid @slate-4;
    justify-content: space-between;

    span,
    small {
      line-height: 20px;
      margin: 0 0;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
  .card-button {
    align-items: center;
    background-color: inherit;
    border: none;
    border-right: 1px solid #b7c3d5;
    border-bottom: 1px solid #e2ebf1;
    box-sizing: border-box;
    display: flex;
    margin: 0 0 2px 0;
    height: 44px;
    padding: 0 10px;
    width: 100%;

    .template-card,
    li.ant-list-item.template-card {
      background-color: inherit;
      border: none;
      display: flex;
      flex-flow: row;
      padding: 0;
      width: 100%;
    }

    .card-icon {
      height: 32px;
      width: 32px;
      background-color: #685bc7;
      padding: 0;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px 0 0;

      img {
        padding: 5px;
        width: 100%;
      }

      .add-template {
        align-items: center;
        background-color: @smoke;
        border: 2px dashed @slate-1;
        border-radius: 5px;
        display: flex;
        font-size: 30px;
        height: 32px;
        width: 32px;
        justify-content: center;
      }
    }

    .card-actions {
      padding: 0 0 0 5px;
      height: 20px;
    }

    .icon-button {
      opacity: 0;
      width: 16px;
      height: 16px;
      svg {
        width: 16px;
        height: 16px;
      }
    }

    .card-content {
      display: flex;
      font-size: 14px;
      font-family: 'DM Sans';
      flex: 1;
      flex-flow: row wrap;
      justify-content: flex-start;
      line-height: 20px;
      text-align: left;

      small {
        color: @slate;
        font-weight: thin;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      strong {
        color: black;
        font-weight: medium;
        margin: 0;
        padding: 0;
        max-width: 115px;
        max-height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &.default .card-icon {
      background-color: @primary-color;
    }

    &.active {
      background-color: @royal-M4;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }

    &:hover {
      background-color: @royal-M4;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;

      .icon-button {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
