@import 'styleguide/AntDesignCustomTheme.less';

.layout-trial-footer {
  padding: 0;
  height: @trial-bar-height;
}

.trial-bar {
  background-color: #ffa834;
  bottom: 0;
  font-size: 16px;
  font-weight: bolder;
  padding: 4px 12px;
  position: fixed;
  text-align: center;
  height: @row-height;
  width: 100%;

  .btn-primary {
    border-color: transparent;
    display: inline-block;
    margin-left: 16px;
  }
}

.trial-bar.trial_ended {
  background-color: @coral;
  color: black;
}

.trial-card {
  padding: 0;
}

.trial-bar-close {
  background: transparent;
  border: none;
  font-weight: bolder;
  position: absolute;
  right: 80px;

  &:hover {
    background: transparent;
    color: white;
  }
}

.expired-trial-modal {
  .ant-modal-content {
    width: calc(@column-width * 5.5);
    .ant-modal-header > .ant-modal-title {
      color: @coral-P2;
    }

    .ant-modal-body {
      .trial-ended-modal-copy {
        .countdown {
          height: @row-height;
          margin-bottom: 12px;
          .days-left-num {
            line-height: 32px;
            font-size: 32px;
            font-weight: bold;
            color: @coral-P2;
            margin-right: 8px;
          }
          .days-left-text {
            font-size: 16px;
            font-weight: 500;
          }
        }
        .copy {
          margin-bottom: 16px;
        }
        .info-text {
          .contact-methods {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            margin-top: 8px;

            .contact-title {
              font-family: 'DM Sans';
              font-weight: bold;
            }
            .contact-row {
              .anticon {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }

    .ant-modal-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .btn-primary {
        margin-left: 12px;
      }
    }
  }
}
