@import 'styleguide/AntDesignCustomTheme.less';

.customization {
  // display: flex;
  // flex-direction: row;

  .customization-container {
    margin: 0;

    .ant-list {
      margin-right: 24px;

      .ant-list-header {
        font-weight: bold;
      }
    }
  }
}

.list-feature-active {
  background-color: @primary-color-M2;
}

.list-feature-card {
  height: 43px;

  .card-toggle {
    margin-right: 16px;
  }

  .card-content {
    width: 200px;
    margin-right: 4px;
  }

  .card-actions {
    display: flex;
    flex-direction: row;
    width: 48px;

    .list-feature-locked {
      width: 24px;
      height: 24px;
      text-align: center;
    }
  }
}

.ant-table-body {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
}

.ant-table-small {
  .ant-table-content {
    .ant-table-body {
      border: none;
    }
  }
}

.ant-table-row-expand-icon-cell {
  min-width: 40px;
}

.configs-separator {
  margin: 24px 0;
  color: @gray-M1;
}
