@import 'styleguide/AntDesignCustomTheme.less';

@font-face {
  font-family: 'InspectionXpert GDT' !important;
  src:
    local('InspectionXpert GDT'),
    url('../../../../styleguide/fonts/InspectionXpertGDT.woff') format('woff') !important;
}

.ant-progress-bg,
.ant-progress-status-success .ant-progress-bg {
  background-color: @seafoam-P1;
}

.review-drawer {
  font-size: 0.8em;
  line-height: 1.5em;
  scroll-behavior: smooth;
  z-index: 2;
  box-shadow: @ix-shadow-right;
  overflow-y: auto;
  height: 100%;

  .review-container {
    display: flex;
    flex-flow: column;
    height: 100%;

    .feature-panel-header {
      height: 48px;
    }

    .feature-list-container {
      overflow-y: auto;
    }

    .review-forms {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      text-align: left;
      position: relative;
    }

    .feature-panel-header {
      padding: 16px 20px;
      text-align: left;
    }

    .spacer-row {
      height: 48px;
      padding: 13px 0;
      text-align: center;

      .verification-label {
        display: inline-block;
        width: 75px;
        height: 20px;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
      }
    }

    .drawer-footer {
      background-color: white;
      border-top: 1px solid @gray-M1;
      height: 48px;
      text-align: center;
    }
  }

  .rev-banner-container {
    padding: 16px 20px 40px 20px;
    .revision-banner {
      font-size: 14px;
      height: 24px;
      min-height: 24px;
    }
  }

  &.revision {
    z-index: 1;
  }
}

.review-forms {
  .form-input,
  .form-group {
    margin: 5px 0;
    min-width: 60px;

    .label-text {
      display: block;
      text-align: left;
    }

    input,
    textarea {
      font-family: 'InspectionXpert GDT';
      margin: 0;
      min-width: 60px;
    }

    .form-input {
      margin: 0 10px 0 0;
      max-height: 48px;
      min-width: 60px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .ant-cascader-picker {
    width: 100%;
  }

  .form-section {
    padding: 0 0 20px 0;
  }

  .ant-radio-wrapper {
    font-size: 14px;
    margin: 0 0 0 0;
  }

  .ant-radio-group {
    display: flex;
    justify-content: space-between;
  }
}

.animationContainer {
  height: 100%;
  padding: 4px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 0.8s linear;
  transition: opacity 0.8s linear;
  will-change: transform;
  &.forward {
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-name: swipeRight;

    .label-text {
      white-space: nowrap;
    }
  }
  &.backward {
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-name: swipeLeft;

    .label-text {
      white-space: nowrap;
    }
  }
}

@keyframes swipeLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  45% {
    transform: translateX(200%);
    opacity: 0;
  }

  55% {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swipeRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  33% {
    transform: translateX(-100%);
    opacity: 0;
  }

  66% {
    opacity: 0;
    transform: translateX(200%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.warning .ant-input {
  border-color: #f5222d;
}

.notationType-cascader ul {
  height: 200px;
}
