.edit-in-place {
  margin: 5px 0;
  position: relative;

  .ant-btn {
    position: absolute;
    right: 4px;
    top: 13px;
    height: 24px;
    width: 24px;
    visibility: hidden;
  }

  input:focus ~ .insert-modal-opener {
    visibility: visible;
  }
}

.edit-in-place small {
  padding-left: 12px;
  font-size: 0.9em;
  color: gray;
}

.edit-in-place textarea {
  // border: 1px white solid;
  resize: none;
}

.edit-in-place textarea:hover {
  border: 1px #40a9ff solid;
}

.edit-in-place textarea:focus {
  border: 1px #40a9ff solid;
  box-shadow: #40a9ff;
  resize: none;
}

.edit-in-place input {
  border: 1px white solid;
  resize: none;
}

.edit-in-place input:hover {
  border: 1px #40a9ff solid;
}

.edit-in-place input:focus {
  border: 1px #40a9ff solid;
  box-shadow: #40a9ff;
  resize: none;
}

.custom-select-option {
  display: flex;
  flex-direction: column;
}

.custom-select-option {
  .custom-select-option-label {
    font-size: 14px;
    font-family: 'DM Sans';
    font-weight: bold;
  }
  .custom-select-option-description {
    font-size: 12px;
    font-family: 'DM Sans';
    color: gray;
  }
}

.roles-select {
  min-width: 120px;
}
