@import '../../AntDesignCustomTheme.less';

.ixc-pill-container {
  display: inline-block;
  border-radius: 24px;
  background-color: @gray;
  color: @slate-inactive;
  height: 52px;
  line-height: 52px;
  padding: 0 23px;
  vertical-align: middle;
  font-size: 32px;
  font-family: 'DM Sans';
  font-weight: bold;
  cursor: pointer;

  &:not(.ant-tag-checkable-checked):hover {
    color: initial;
  }

  &.ant-tag-checkable-checked {
    background-color: @primary-color;
    color: @secondary-color;
  }
}
