@import 'styleguide/AntDesignCustomTheme.less';

// .ant-tree-title {
//   padding: 4px;
//   font-size: 14pt;
//   font-family: 'DM Sans';
//   border-radius: 2px;
//   height: 36px;
// }

.ant-tree {
  li {
    .ant-tree-node-content-wrapper::hover {
      background-color: chocolate;
    }
  }
}

.ant-tree-node-content-wrapper::hover {
  background-color: coral;
}

.token-tips {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-bottom: 8px;

  .hint {
    border-radius: 12px;
    height: fit-content;

    display: flex;
    flex-direction: row;
    line-height: 24px;
  }

  .dynamic {
    .tip {
      background-color: darken(@sunshine-M2, 10%);
      margin: 0px 8px 0px 16px;
      border-radius: 14px;
      height: 24px;
      width: 24px;
      text-align: center;

      .anticon {
        font-size: 14px;
      }
    }
  }

  .single {
    .tip {
      background-color: darken(@royal-M4, 10%);
      margin-right: 8px;
      border-radius: 14px;
      height: 24px;
      width: 24px;

      .anticon {
        height: 24px;
        width: 24px;
        padding: 5px;

        svg {
          height: 14px;
          width: 14px;
        }
      }
    }
  }
}

.token-row {
  .icon-button.remove {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
  }
}
