@import '../../mixins.less';
@import 'styleguide/AntDesignCustomTheme.less';


.template-card {
  margin: 8px 40px 20px 40px;
  width: 300px;

  .generate-report {
    display: block;
    margin-bottom: 5px;
    width: auto;
  }

  .ant-card-head {
    padding: 0;
  }

  .ant-card-head-title,
  .ant-card-body {
    padding: 0;
  }

  .template-card-image {
    align-items: center;
    background-color: @gray-M1;
    color: @gray;
    display: flex;
    font-size: 64px;
    height: 200px;
    justify-content: center;
    width: 100%;

    img {
      width: 300px;
      height: 200px;
      opacity: 0.6;
      object-fit: cover;
    }

    .ant-avatar {
      position: absolute;
      z-index: 100;
      left: 8px;
      top: 8px;
      height: 40px;
      width: 40px;
      border-radius: 4px;
      font-size: 18px;
      line-height: 40px;
    }

    .ix-logo-img {
      position: absolute;
      z-index: 100;
      left: 8px;
      top: 8px;
      width: 40px;
      height: 40px;
      opacity: 1;
      background-color: @primary-color;
      padding: 6px;
      border-radius: 4px;
    }
  }

  .ant-card-actions li {
    border: 1px solid #f0f0f0;
    margin: 0;
    background-color: @smoke-1;

    svg {
      margin: 10px;
      display: inline-block;
    }
  }

  .edit-action:hover svg {
    color: @seafoam-P1;
  }

  .copy-action:hover svg {
    color: @azure;
  }

  .delete-action {
    padding: 0;
    margin: 0;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;

    &:hover,
    &:hover svg {
      cursor: pointer;
      color: @coral-P1;
    }
  }

  .template-card-header {
    padding: 0 0 5px;

    span {
      display: block;
    }
  }

  .template-card-title {
    .title-font();

    &.text-shrink {
      font-size: 16px;
    }
  }

  .template-card-provider {
    .sub-title-font();

    &.text-shrink {
      font-size: 12px;
    }
  }
}

.template-card-selected {
  border-color: 4px solid @primary-color !important;
  box-shadow: 0px 0px 10px rgba(@primary-color, 0.75);
}

.template-add {
  height: 304px;

  .ant-upload-drag {
    background-color: @smoke-1;
    border: 2px dashed @steel;
    border-radius: 5px;
    color: @steel;
    display: flex;
    flex-flow: column;
    height: 255px;
    justify-content: center;
    padding: 20px;

    &:hover {
      border-color: @primary-color;

      p.ant-upload-text,
      p.ant-upload-drag-icon .anticon,
      .ant-upload-file-type-icons {
        color: @primary-color;
      }
    }

    p.ant-upload-text,
    p.ant-upload-drag-icon .anticon,
    .ant-upload-file-type-icons {
      color: @steel;
    }

    .anticon-file-excel {
      font-size: 20px;
      margin-top: -15px;
    }
    p.ant-upload-drag-icon {
      margin-bottom: 0;
    }

    svg {
      margin: 10px;
    }
  }

  .template-card-body {
    font-size: 14px;
  }

  .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title {
    .title-font();
  }
}
