@import 'styleguide/AntDesignCustomTheme.less';

.mini-list {
  margin: 24px 0;

  h2 {
    display: flex;
    font-size: 14px;
    font-family: 'DM Sans';
    color: @slate-1;
    border-bottom: 1px solid @slate-4;
    justify-content: space-between;

    span,
    small {
      line-height: 20px;
      margin: 0 4px 0 0;
    }

    .anticon {
      height: 14px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .list-container {
    max-height: 220px;
    padding-right: 10px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .add-button {
    width: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    opacity: 0;

    svg {
      margin-right: 10px;
    }

    &:hover {
      border-bottom: 1px solid @primary-color-P2;
    }

    &:active {
      border: none;
    }
  }

  &:hover .add-button {
    opacity: 0.5;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:active {
      border: none;
    }
  }
}

.mini-list-card,
.ant-list-item.mini-list-card {
  background-color: transparent;
  border-bottom: 1px solid @smoke;
  border-right: 1px solid @steel-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 9px 0 10px 0;

  .card-actions .icon-button {
    opacity: 0;

    &:active {
      border: none;
    }
  }

  .card-content {
    flex: 1;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-family: 'DM Sans';
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    padding: 0 4px;
  }

  .card-status {
    display: block;
    height: 12px;
    margin-right: 5px;
    width: 12px;

    &.current-true {
      background-color: @seafoam;
    }

    &.current-false {
      background-color: @coral;
    }
  }

  &:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    .card-actions .icon-button {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.ant-list-item.mini-list-card.user-card-override {
  height: @row-height;
  padding: 0px 0px;
  border: none;

  .user-content-override {
    height: @row-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .user-field {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 320px;
      margin-left: 4px;

      .name {
        font-weight: bold;
        line-height: 20px;
        height: 20px;
      }

      .email {
        height: 18px;
        line-height: 18px;
        color: @azure;
        font-size: 12px;
      }

      .email.large {
        font-size: 14px;
        line-height: 20px;
        height: 20px;
      }

      span {
        height: @half-height;
      }
    }

    .role-field {
      width: 160px;
      height: inherit;
      line-height: @row-height;
      align-self: flex-start;
    }

    .role-pending {
      font-weight: bold;
    }

    .access-field {
      align-self: flex-end;
      text-align: right;
      height: inherit;
      line-height: @row-height;
      width: 160px;

      .access-control-select {
        width: 123px;
        margin-right: 8px;
        text-align: left;
      }

      button {
        color: @primary-color;
        padding: 0 4px;
        margin: 0 4px;
      }
    }

    .mfa-reset-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-width: 80px;
    }
  }

  &:hover {
    box-shadow: none;
    cursor: default;
  }
}

.ant-list-item.mini-list-card.user-card-override.disabled-user-card {
  opacity: 0.25;
}

#convertFramed:hover {
  cursor: pointer;
}

.downloadLI {
  text-align: left;
}

.excelDownload {
  border: none;
  background-color: inherit;
  padding: 5px 12px;
  text-align: left;
  width: 100%;

  &:hover {
    background-color: transparent;
    color: @primary-color;
    cursor: pointer;
  }
  &:active {
    background-color: transparent;
    color: @primary-color;
  }
}

.mini-list {
  .list-container.list-container-override {
    max-height: 360px;
    padding: 0;
  }
}

.download-menu-item {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
