@import 'styleguide/AntDesignCustomTheme.less';

.invite-section {
  margin: @half-height auto;
  font-family: 'DM Sans', sans-serif;

  &:first-child {
    margin-top: 0;
  }

  .primaryIcon {
    color: @primary-color;
  }

  .help-icon {
    margin-left: 5px;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 4px;
  }

  p {
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
  }

  .subscriptionInput {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    margin: 3px 0;
  }

  .ant-radio-wrapper {
    display: block;
  }

  .ant-radio-checked .ant-radio-inner {
    border-color: @primary-color;
    &::after {
      background-color: @primary-color;
    }
  }
}

p.error {
  color: @coral-P2;
}

input.error {
  border-color: @coral-P2;
}
