@import 'styleguide/AntDesignCustomTheme.less';

button.additional {
  width: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid #1890ff;
  }

  &:active {
    border: none;
  }
}

#add-new-option {
  width: auto;
}

.icon-button.remove {
  path:nth-child(2) {
    fill: #fafafa;
  }
  path:nth-child(3),
  path:first-child {
    fill: #e8e8e8;
  }

  &:hover {
    path:nth-child(2) {
      fill: rgb(255, 241, 240);
    }
    path:nth-child(3),
    path:first-child {
      fill: rgb(245, 34, 45);
    }
  }
}

.ix-two-tone-icon {
  color: @azure;
  margin-right: 8px;
}
