@import 'styleguide/AntDesignCustomTheme.less';

.token-row {
  display: flex;
  flex-direction: row;

  .token {
    border-bottom: 1px solid @steel;
    border-right: 1px solid @smoke;
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    border-radius: 2px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    cursor: move;
    font-size: 14px;
    line-height: 21px;
    font-family: 'DM Sans';

    .remove {
      margin-left: 8px;
    }
  }

  .token::hover {
    cursor: move;
  }

  .token.Single {
    background-color: darken(@royal-M4, 10%);
  }

  .token.Dynamic {
    background-color: darken(@sunshine-M2, 10%);
  }

  .token.used {
    opacity: 0.5;
  }

  .token-handle {
    display: inline-grid;
    align-items: center;
    width: 12px;

    svg {
      fill: @slate;
      // display: block;
      // margin: 0 auto;
    }
  }

  .ant-tooltip.hide {
    visibility: hidden;
  }
}

.ant-tree-node-selected {
  background-color: rgba(0, 0, 0, 0) !important;
}

.ant-tree {
  li {
    .ant-tree-node-content-wrapper:hover {
      background-color: rgba(0, 0, 0, 0) !important;

      .token {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
