@import '../../AntDesignCustomTheme.less';
@import '../../mixins.less';

.ixc-mdt-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ixc-mdt-data-expansion {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 85%;
}

.ixc-mdt-data-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.ixc-mdt-data-left,
.ixc-mdt-data-right {
  width: 45%;
}

.ixc-mdt-data-left {
  padding-right: 10px;
}

.ixc-mdt-data-item {
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: bold;
  color: @slate;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ixc-mdt-item-label {
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: bold;
  color: @slate-2;
}

.ixc-mdt-outer {
  width: 100%;
}

.ixc-mdt-inner {
  background-color: @secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 80px;

  &.ixc-mdt-inner-extended {
    height: 96px;
  }
}

.ixc-mdt-label {
  font-size: 14px;
  color: @slate-1;
  font-weight: bold;
  font-family: 'DM Sans';
}

.ixc-mdt-value {
  font-size: 32px;
  line-height: 36px;
  color: @slate;
  font-weight: bold;
  font-family: 'DM Sans';
}

.ixc-mdt-footer {
  .title-font();
  color: @slate-1;
}

.ixc-mdt-icon {
  font-size: 48px;
  color: #aaaaaa;
  background-color: initial;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
