.header {
  background-color: darkslateblue;
  display:flex;
  height: 60px;  
  
  color: white;
  left:500px;
  align-items: center;
  justify-content: center;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: x-large;
  font-weight: bold;
}

.App-logo {

  height: 60px;
  pointer-events: none;
  align-items: left;
}

button {    
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color:black;
  font-weight: bold;
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

div{
  
  
}