@import 'styleguide/AntDesignCustomTheme.less';

// .trial {
//   max-height: calc(100vh - @trial-bar-height);
// }

.settingsPage {
  margin: @half-height 0 0 0;
  padding: @half-height;
}

.settingsForm form,
form .settings-subsection {
  display: flex;
  flex-flow: row wrap;

  label {
    align-items: center;
    display: flex;
    height: @half-height;
    margin: @quarter-height 0;
    width: 100%;
  }

  input[type='checkbox'] {
    margin-right: @quarter-height;
  }
}

.settings-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  main {
    display: flex;
    flex-flow: column wrap;
  }
}

.settings-menu-container {
  width: fit-content;
}

.settings-content {
  display: flex;
  flex: 1;
  flex-flow: row wrap;

  .settings-menu {
    padding-bottom: @row-height;

    * {
      .ant-tabs-tab {
        margin: 0 !important;
        padding: 0px 4px 0px 4px;
        height: 48px;
        line-height: 48px;
        min-width: calc(@column-width * 2);
        text-align: left;

        * {
          .tab-content {
            height: inherit;
          }
        }
      }
    }

    .ant-tabs-nav {
      width: 100%;

      .ant-tabs-tab-active {
        color: @gray-P1;
        background-color: @primary-color-M2;
      }
    }

    .ant-tabs .ant-tabs-left-content {
      padding-left: 0px;
    }

    .anticon {
      margin: 9px 12px 8px 2px;

      svg {
        height: 18px;
        width: 18px;
      }
    }

    .tab-content {
      display: inline-flex;
      height: 36px;
      align-items: center;

      .ant-avatar {
        margin-right: 8px;
      }
    }

    .config-anchor-links-container {
      .config-anchor-links {
        padding-left: 20px;

        .config-anchor-link {
          .ant-btn {
            padding-left: 0px;
          }
        }
      }
    }
  }

  .settings-section {
    overflow-y: auto;
    h2 {
      margin-bottom: 8px;
    }

    padding-left: @column-width;
    flex: 1;
    min-width: 450px;
    // -ms-overflow-style: none; /* IE and Edge */
    // scrollbar-width: none; /* Firefox */

    &.connections {
      max-width: 1000px;
    }

    .settings-subsection {
      padding-bottom: @half-height;
    }
  }
}

.settings-company-edit {
  padding-top: 0;
  padding-bottom: 0;

  .ant-form-item-with-help {
    margin-bottom: 24px;
  }

  .form-buttons {
    .ant-btn {
      margin-right: 8px;
    }
  }
}

.settings-section::-webkit-scrollbar {
  // display: none;
}

.dangerText {
  color: @coral-P2;
  font-size: 1.1em;
  line-height: 24px;
  font-family: 'DM Sans';
  font-weight: 'bolder';
}

.dangerDivider {
  border-width: 2px;
  border-color: @coral-P2;
}

/* Billing */

.billing {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

#billingSettings.settings-section {
  display: block;
}

#billingSettings .settings-wide-column {
  width: 60%;
  min-width: calc(@column-width * 4);
  margin-right: @column-width;
}

.settings-thin-column {
  width: 30%;
  min-width: calc(@column-width * 4);
}

.billingSection {
  margin-bottom: 36px;
}

.usageStat {
  align-items: center;
  display: flex;
  flex-flow: row;
  margin-bottom: 8px;
  min-height: 24px;

  .seat-title {
    color: @gray-P1;
    font-family: 'DM Sans';
    font-size: 14px;
    min-width: calc(@column-width * 1);
    white-space: nowrap;
    margin-right: 8px;
  }

  .usage-current {
    flex: 1;
    white-space: pre;
  }

  .ant-progress {
    height: 8px;
    margin: 0 10px;
    width: 75%;
    width: calc(@column-width * 4);
  }

  .ant-progress-inner {
    background-color: @gray-M1;
    display: block;
  }

  .ant-progress-outer {
    display: block;
  }
}

.invoice-table {
  font-family: 'DM Sans';
  font-size: 14px;

  thead {
    color: @gray-P1;
  }

  thead tr th {
    border-left: none;
  }

  tbody {
    color: black;
  }
}

.link {
  border: none;
  background-color: transparent;
  color: @primary-color;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.paymentSection {
  margin-bottom: 24px;

  h4 {
    color: @gray-P1;
    font-size: 14px;
  }

  p {
    margin: 8px 0;
  }

  a {
    color: @primary-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

.deleteCard {
  .ant-btn-primary {
    background-color: @primary-color;
    border-color: @primary-color;
  }

  .ant-btn-primary:hover,
  .ant-btn:hover {
    background-color: white;
    border-color: @primary-color;
    color: @primary-color;
  }
}

.contact-icon {
  margin-right: 8px;
}

.card {
  display: flex;
  flex-flow: row wrap;

  span {
    display: flex;
  }
}

.card-type {
  display: inline-block;
  margin-right: 5px;
  overflow: none;
  width: 36px;

  img {
    width: 100%;
  }
}

.card-span {
  display: flex;
  margin: 0 8px 8px 0;
}

.subtitle {
  color: @gray-P1;
  font-size: 12px;
}

/* Seats */

#seatSettings.settings-section {
  display: block;
}

#seatSettings {
  min-width: calc(@column-width * 9);

  .users-list {
    width: 100%;
  }

  .settings-wide-column {
    width: 70%;
    min-width: calc(@column-width * 5);
    margin-right: @column-width;
  }

  .settings-thin-column {
    width: 20%;
    min-width: calc(@column-width * 3);
  }
}

.seats-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;

  .seats-count {
    display: flex;
    flex-direction: row;

    h3 {
      margin: 0px 16px;
      line-height: 40px;
    }
  }
  .search-filter {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: flex-end;
    margin-left: 10px;
  }

  .seat-search {
    max-width: 424px;
  }
  .inactive-checkbox {
    margin: 4px 0px 0px 0px;
    direction: rtl;
  }
}

.access-request {
  display: flex;
  flex-flow: row wrap;
}

.configurations::-webkit-scrollbar {
  // opacity: 0;
}

button.hidden {
  display: none;
}

/* Security */
#securitySettings {
  .mfa-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

/* Configurations */

.configurations {
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - (@row-height * 3 + @half-height));
  overflow-y: auto;
  scroll-behavior: smooth;

  .settings-wide-column {
    max-width: calc(@column-width * 12);
    min-width: calc(@column-width * 4);
  }

  .settings-thin-column {
    width: 30%;
    min-width: calc(@column-width * 4);
  }

  .lists-actions {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 8px 0px;
    justify-content: space-between;

    .list-actions-left {
      display: flex;
      flex-direction: row;

      .list-type-select-container {
        display: flex;
        flex-direction: column;
        min-width: 144px;
        margin: 4px 12px 4px 0px;

        .list-type-select-label {
          line-height: 16px;
          height: 16px;
        }
      }
    }

    .list-actions-right {
      label {
        line-height: 48px;
      }
    }

    .btn-primary {
      margin: 4px 0px;
    }
  }

  .ant-table-body {
    overflow-y: auto !important;
  }
}

.trial .configurations {
  height: calc(100vh - (@row-height * 3 + @trial-bar-height));
}

.add-seat-modal-body {
  display: flex;
  flex-direction: column;

  .user-card {
    height: @row-height;
    padding: 0px 0px;
    border: none;
    display: flex;
    flex-direction: row;

    .ant-avatar {
      margin: 4px 0;
    }

    .user-content-override {
      height: @row-height;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .user-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 320px;
        margin-left: 4px;

        .name {
          font-weight: bold;
          line-height: 20px;
          height: 20px;
        }

        .email {
          height: 18px;
          line-height: 18px;
          color: @azure;
          font-size: 12px;
        }

        .email.large {
          font-size: 14px;
          line-height: 20px;
          height: 20px;
        }

        span {
          height: @half-height;
        }
      }
    }
  }

  .add-seat-modal-info {
  }
}

.version-div {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
}
