.autoballoon-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding-left: 4px;

  > .anticon {
    font-size: 1.5em;
  }
}
.autoballoon-header.collapsed {
  gap: 4px;
  padding: 0;

  > .anticon {
    font-size: 1.5em;
    margin-right: 0;
  }
}
