@import 'styleguide/AntDesignCustomTheme.less';

.ixc-touch-button {
  height: 64px;
  font-size: 36px;
  padding: 0 24px;
  font-family: 'DM Sans';
  background-color: @primary-color;
  color: @secondary-color;
  font-weight: bold;

  &:active {
    background-color: @primary-heavy;
  }

  &.ixc-touch-button-full-width {
    width: 100%;
    text-align: center;
  }
}
