.progress-steps {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 10px;
  justify-content: center;
  padding: 4px 4px;
  height: 40px;

  .ant-progress-line {
    margin-right: 5px;
    width: 100%;
  }
}

.progress-footer {
  width: 100%;
  padding: 4px 20px;

  .ant-progress-steps {
    &.w0 {
      .ant-progress-steps-item {
        width: 16px !important;
      }
    }

    &.w1 {
      .ant-progress-steps-item {
        width: 12px !important;
      }
    }

    &.w2 {
      .ant-progress-steps-item {
        width: 10px !important;
      }
    }

    &.w3 {
      .ant-progress-steps-item {
        width: 8px !important;
      }
    }
  }
}
