@import 'styleguide/AntDesignCustomTheme.less';

.balloon-assignment {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .ant-select {
    .ant-select-selector {
      padding: 0 11px 0 4px;

      .ant-select-selection-search {
        left: 4px;
      }
    }
  }

  .assign-picker {
    .ant-select-selector {
      .ant-select-selection-item {
        padding: 0;
      }
    }
  }

  .remove {
    height: 40px;
    min-width: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    &:hover svg {
      font-size: 22px;
    }
  }
}

.balloon-select > .ant-select-selector > .ant-select-selection-item {
  padding: 4px 0;
}

.style-select-default.ant-select {
  width: 22%;

  .ant-select-selection--single,
  .ant-select-selection__rendered {
    height: 40px;
    margin: 0;
  }

  .ant-select-selection__rendered {
    padding-top: 7px;
    padding-left: 2px;
    margin-right: 2px;
    display: flex;
    align-items: center;
  }
}

.default-text {
  width: 78%;
  font-size: 15px;
  font-weight: 400;
  padding-left: 22px;
}

.style-select.ant-select {
  width: 22%;

  .ant-select-selection--single,
  .ant-select-selection__rendered {
    height: 40px;
    margin: 0;
  }

  .ant-select-selection__rendered {
    padding-top: 7px;
    padding-left: 2px;
    margin-right: 2px;
    display: flex;
    align-items: center;
  }
}

.assign-picker.warning .ant-input {
  border-color: #f5222d;
}

.ant-select-dropdown.balloon-styles {
  width: fit-content !important;
  height: fit-content;

  * {
    .rc-virtual-list {
      height: fit-content;
      max-height: 360px;
      .rc-virtual-list-holder {
        height: fit-content;
        max-height: 360px;

        .rc-virtual-list-holder-inner {
          flex-direction: row !important;
          flex-flow: row wrap;
          justify-content: left;
          padding: 0 8px;
          width: 320px;
          height: fit-content;
          max-height: 360px;

          .ant-select-item-option-active {
            background-color: @primary-color-M2;
          }

          .ant-select-item-group {
            width: 100%;
            padding: 8px 4px;
          }

          .balloon-style-option {
            align-items: center;
            display: flex;
            height: 40px;
            justify-content: center;
            padding: 0;
            width: 40px;
            margin-right: 8px;
            padding: 4px;

            .ant-select-item-option-content {
              width: 30px;
              height: 30px;
            }

            &.disabled {
              .ant-select-item-option-content {
                .edit-style {
                  width: 40px;
                  height: 40px;
                  background-color: rbga(255, 0, 0, 0.25);
                  position: absolute;
                  left: 0;
                  top: 0;
                  z-index: 5;
                  cursor: alias;
                }
                svg {
                  opacity: 0.3;
                }
              }
            }

            &.hide-option {
              display: none;
            }
          }
        }
      }
    }
  }
}

.balloon-styles ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

button.additional {
  width: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid #1890ff;
  }

  &:active {
    border: none;
  }
}

.icon-button.remove {
  path:nth-child(2) {
    fill: #fafafa;
  }
  path:nth-child(3),
  path:first-child {
    fill: #e8e8e8;
  }

  &:hover {
    path:nth-child(2) {
      fill: rgb(255, 241, 240);
    }
    path:nth-child(3),
    path:first-child {
      fill: rgb(245, 34, 45);
    }
  }
}

#add-new-style {
  width: auto;
}

// Builder
.balloon-builder-content {
  display: flex;
  flex-direction: row;
  width: 100%;

  .balloon-builder-form {
    width: auto;
    margin-right: 16px;
    .ant-form {
      .ant-col {
        width: 108px;
        margin-right: 16px;
      }

      h3 {
        margin-bottom: 0px;
      }
    }

    * {
      .ant-form-item-control-input-content {
        max-height: 40px;
      }
    }
  }

  * {
    .style-select,
    .text-input,
    .number-picker {
      width: 108px;
    }
  }
}

.style-delete-button {
  position: absolute;
  z-index: 100;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
  visibility: hidden;

  &:hover {
    visibility: visible;
  }

  button {
    border: none;
    position: absolute;
    z-index: 100;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    line-height: 16px;

    svg {
      height: 16px;
      width: 16px;
      padding: 0;
      margin: 0;
    }
  }
}

.ant-select-item:hover {
  .style-delete-button {
    visibility: visible;

    button.btn-delete-style {
      span {
        svg {
          opacity: 1 !important;
        }
      }
    }
  }
}

.style-buttons {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.line-style-option {
  width: 60px;
  margin: 20px 0;
  background-color: black;

  &.solid {
    height: 1px;
    background-color: transparent;
    border-bottom: 2px solid black;
  }

  &.dotted {
    height: 1px;
    background-color: transparent;
    border-bottom: 2px dotted black;
  }

  &.dashed {
    height: 1px;
    background-color: transparent;
    border-bottom: 2px dashed black;
  }
}

.line-match-checkbox.ant-checkbox-wrapper {
  margin-bottom: 8px;
}

.balloon-builder-preview {
  .preview-row {
    display: flex;
    flex-direction: row;
    border: 1px solid @gray-M1;

    img {
      margin-left: 4px;
      height: 56px;
    }
  }
  * {
    .text-input {
      width: 100% !important;
    }
  }
}

.preset-row {
  .ant-select-selector {
    border-radius: 2px 0px 0px 2px !important;
  }

  .ant-btn,
  .ant-tooltip-disabled-compatible-wrapper {
    border-radius: 0px 2px 2px 0px;
    max-height: 40px;
  }
}
