@import 'styleguide/AntDesignCustomTheme.less';

.change-section {
  margin: @half-height auto;
  font-family: 'DM Sans', sans-serif;

  .invite-role-select {
    display: flex;
    flex-direction: column;
  }

  &:first-child {
    margin-top: 0;
  }

  .primaryIcon {
    color: @primary-color;
  }

  .help-icon {
    margin-left: 5px;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  h5 {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 4px;
  }

  p {
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
  }

  .subscriptionInput {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    margin: 3px 0;
  }

  .ant-radio-checked .ant-radio-inner {
    border-color: @primary-color;
    &::after {
      background-color: @primary-color;
    }
  }
}

.link {
  border: none;
  background-color: transparent;
  color: @primary-color;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.flex-column label {
  margin-right: 10%;
}

.small {
  font-size: 12px;
}

.warnMessage {
  border-color: @warning-sunshine;

  &.small {
    color: @warning-sunshine;
  }
}

.subscription-component-header {
  display: flex;
  align-items: center;

  .addon-toggle {
    margin-right: 10px;
  }
}
