@import 'styleguide/AntDesignCustomTheme.less';

.drawer-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: @ix-shadow-right;
}

.drawer-header {
  padding: 48px 20px 0px 20px;
}

.drawer-contents {
  flex: 1;
  padding: 0 20px;
  height: 100%;
  overflow-y: auto;
}

.drawer-contents > div {
  margin-bottom: 16px;
}

.drawer-footer {
  padding: 4px 8px;
  width: 100%;
  height: 48px;
  text-align: center !important;
  justify-content: space-between !important;
  border-top: 1px solid #d7d7d7;
  background-color: white;

  .progress-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: 'nowrap';
    padding: 0;
  }
}

#SideNavMenu ul.ant-menu .ant-menu-item-disabled.ant-menu-item.ant-menu-item.ixc-step-item {
  color: white !important;

  &.ant-menu-item-selected {
    color: black !important;
  }

  &:hover {
    cursor: default;
  }
}

.template-gallery-container {
  height: 100%;
  overflow-y: auto;
  padding: 40px;

  h2 {
    padding: 0 40px;
  }
}

.template-gallery {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 40px;
}

.template-settings {
  .direction-section {
    margin-bottom: 16px;
  }

  .anticon-question-circle {
    color: @primary-color;
  }
}

.direction-icon {
  margin-left: 5px;
}
.ant-tree-switcher-noop {
  display: none;
}
