@import '../mixins.less';
@import 'styleguide/AntDesignCustomTheme.less';


.title-block-header {
  .title-font();
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2px 6px 2px 6px;
  -webkit-transition: @smooth-transition !important;
  transition: @smooth-transition !important;

  .title-block-row {
    display: flex;
    flex-direction: row;
    height: 22px;
    -webkit-transition: @smooth-transition !important;
    transition: @smooth-transition !important;
  }

  .title-left {
    height: 100%;
    width: 80%;
    line-height: 20px;
    text-align: left;
    left: 0px;
    -webkit-transition: @smooth-transition !important;
    transition: @smooth-transition !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .title-right {
    height: 100%;
    width: 20%;
    line-height: 20px;
    text-align: right;
    right: 0px;
    -webkit-transition: @smooth-transition !important;
    transition: @smooth-transition !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.tooltip-inner {
  white-space: pre-line;
}
