@import 'styleguide/AntDesignCustomTheme.less';

@font-face {
  font-family: 'InspectionXpert GDT' !important;
  src:
    local('InspectionXpert GDT'),
    url('../../styleguide/fonts/InspectionXpertGDT.woff') format('woff') !important;
}

.human-review-content-container {
  height: 75vh;
  width: 100%;
  display: flex;

  .human-review-content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: @row-height;

    .review-header {
      margin: 0 auto;
    }

    .inactive-review-btn {
      margin: 0 auto;
    }

    .rev-form-title {
      text-align: left;
    }

    .capture-quality {
      width: 500px;
      text-align: left;

      .capture-quality-btns {
        display: flex;
        flex-direction: row;

        .ant-btn {
          margin-right: 16px;
        }
      }
    }

    .correction-form {
      width: 500px;
      text-align: left;

      .form-section {
        margin-bottom: 24px;
      }

      .correction-input-section {
        .capture-correction-input {
          font-family: 'InspectionXpert GDT';
        }
      }

      .confidence-input {
        display: flex;
        flex-direction: column;
        position: relative;

        .select-error {
          .ant-select-selector {
            border-color: red !important;
          }
        }

        .error-text {
          position: absolute;
          bottom: -24px;
          color: red;
        }
      }

      .common-characters {
        margin-top: 0px;

        .characters-header {
          display: flex;
          flex-direction: row;
          margin-bottom: 8px;
          justify-content: space-between;

          h4 {
            margin: 0;
            line-height: 32px;
          }

          button.all-chars-btn {
            margin-top: 0px;
          }
        }
        .character-bank {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;

          button.gdt {
            font-family: 'InspectionXpert GDT';
            font-size: 18px;
            width: 30px;
            height: 30px;
            padding: 0;
            min-width: 24px;
            margin: 2px;
          }
        }
      }
    }

    .current-capture {
      position: relative;
      height: 160px;
      width: 500px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      margin: 0px 0px 16px 0px;

      .capture-img {
        width: 400px;
        max-height: 144px;
        max-width: 350px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .all-buttons {
      width: inherit;

      .review-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;

        .btn-primary {
          height: 64px;
          display: flex;
          flex-direction: row;

          .button-text {
            display: flex;
            flex-direction: column;
            margin: auto 0;
            padding-left: 8px;
          }

          i {
            line-height: 64px;
          }
        }

        .btn-low {
          background-color: #ccac00;
          border-color: #ccac00;

          &:hover {
            background-color: lighten(#ccac00, 10%);
            border-color: lighten(#ccac00, 10%);
          }
        }

        .btn-high {
          background-color: darkgreen;
          border-color: darkgreen;

          &:hover {
            background-color: lighten(darkgreen, 10%);
            border-color: lighten(darkgreen, 10%);
          }
        }
      }

      .btn-secondary {
        width: 100%;
      }
    }

    h1.review-header {
      width: fit-content;
    }
  }

  .human-review-content.centered {
    margin: auto auto;
  }
}

.inactive-container {
  .human-review-content {
    vertical-align: middle;
    padding: 0px 0px @row-height 0px;
  }
}

.human-review-drawer {
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.25);
}

.ant-carousel {
  // background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
  margin-bottom: 8px;

  .slick-slider {
    .slick-arrow {
      color: @gray-P1;

      svg {
        height: 16px;
        width: 16px;
      }

      &:hover {
        color: @gray;
      }
    }

    .slick-prev {
      left: 8px;
      top: 42px;
      z-index: 100;
    }

    .slick-next {
      right: 8px;
      top: 42px;
      z-index: 100;
    }

    .slick-dots {
      height: 12px;
      bottom: -4px;
      margin-bottom: 0px;

      button {
        height: 12px;
        width: 12px;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.35);
      }

      .slick-active {
        height: 12px;
        button {
          background-color: @primary-color;
          width: 24px;
        }
      }
    }

    .slick-list {
      .slick-current {
        .carousel-example {
          margin: 0 auto;
          img {
            margin: 8px auto;
            height: 48px;
          }
        }
      }
    }
  }
}

.info-list {
  padding-left: 20px;
}

.all-chars-btn {
  margin-top: 8px;
  color: @gray-P1;

  &:hover {
    border-color: @primary-color;
  }

  svg {
    height: 12px;
    width: 12px;
    margin-right: 8px;
  }
}
