.ixc-station-container {
  background-color: black;
  color: white;
  padding: 48px 80px;

  .ixc-user-grid-container {
    .add-station {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 240px;
      width: 240px;
      color: rgba(255, 255, 255, 0.75);

      .anticon-plus-circle {
        margin-bottom: 16px;
        align-self: center;
        width: 144px;

        svg {
          height: 144px;
          width: 144px;
        }
      }

      .add-station-label {
        font-size: 24px;
        font-weight: bold;
        width: 100%;
      }
    }

    .add-station:hover {
      color: rgba(255, 255, 255, 0.85);
    }
  }
}
