@import 'styleguide/AntDesignCustomTheme.less';

/* TODO: Split out the actual overrides into an IXC theme LESS Stylesheet */
/* TODO: Put the new component styles into Storybook with their respective component parts */
/* TODO: Split out page specific styles to their own LESS pages (but consider if they are actually necessary or are theme standards) */

/* General */

body {
  font-family: 'DM Sans', sans-serif;
}

.ant-layout {
  background-color: white !important;
  width: auto;
}

.ant-layout.ant-layout-has-sider > .ant-layout {
  width: 100%;
}

.ant-layout-sider {
  z-index: 1;
}

.ant-layout main {
  flex: 1;
  overflow-x: auto;
}

.ant-layout.ant-layout-has-sider > .ant-layout-content {
  width: 100%;
}

.ant-layout-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ant-layout.ant-layout-has-sider.main-content-layout {
  flex-direction: column;
  height: 100vh;
}

.ant-layout.ant-layout-has-sider.main-content-layout.trial,
.ant-layout.ant-layout-has-sider.main-content-layout.trial_ended {
  height: 100vh;
}

/* Text and Inputs */

h1 {
  font-size: 2em;
  line-height: 48px;
  color: @primary-color-P2;
  border-bottom: 1px solid @gray-P1;
  font-family: 'DM Sans';
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  line-height: 48px;
  color: #000000;
  font-family: 'DM Sans';
  font-weight: 500;
}

h3 {
  font-size: 1.2857em;
  line-height: 48px;
  color: #000000;
  font-family: 'DM Sans';
}

h4 {
  font-size: 1em;
  line-height: 24px;
  color: darken(@gray, 10%);
  font-family: 'DM Sans';
  font-weight: 500;
}

small {
  margin: 5px 0 10px 0;
  font-size: 0.9em;
  color: gray;
}

.ix-logo-title {
  width: fit-content;
  padding: 16px 0;
  text-align: center;
  align-self: center;

  svg {
    transform: scale(1.5);
  }

  .ix-logo-title-hr {
    margin-top: 16px;
    width: 240px;
  }
}

.ant-input[disabled] {
  color: darken(@gray, 10%);
}

.ant-input[disabled].list-input-disabled {
  color: @gray-P1;
  background-color: transparent;
  border-color: transparent;
}

.list-input-disabled:hover {
  border-color: transparent;
}

.ant-upload-text {
  white-space: pre-wrap;
}

.customer-dropdown,
.criticality-dropdown,
.inspectionMethod-dropdown,
.operation-dropdown,
.ant-cascader-menu {
  width: 100%;
  max-width: 360px;
  min-width: fit-content;
}

.form-color-input {
  * {
    .ant-form-item-control-input-content {
      width: 100%;
      height: 40px;

      span {
        border-radius: 2px;
        height: 40px;
        width: 100%;

        span {
          height: 30px;
          width: 100%;
        }
      }
    }
  }
}

.ant-form-item.disabled {
  * {
    .ant-form-item-control-input-content {
      cursor: not-allowed;

      span {
        pointer-events: none;
        background-color: #f5f5f5;
      }
    }
  }
}

.vertical-radio {
  display: block;
  height: auto;
  line-height: @half-height;
  white-space: pre-wrap;
}

.select-with-button {
  display: flex;
  flex-direction: row;

  &.wide {
    width: 100%;

    .ant-select {
      width: 100%;
    }
  }
}

/* Buttons */

.btn-primary {
  display: block;
  background-color: @primary-color;
  color: white;
  border-color: @primary-color;

  &:hover,
  &:focus {
    background-color: lighten(@primary-color, 10%);
    color: white;
    cursor: pointer;
  }

  &.ant-tooltip-disabled-compatible-wrapper {
    border-radius: 2px;
  }
}

.ant-btn.square-lg {
  height: 40px;
  width: 40px;
  padding: 0 8px;

  .anticon {
    font-size: 16px;
  }
}

.btn-secondary {
  display: block;
  background-color: white;
  color: @gray-P1;

  &.center {
    width: fit-content;
    align-self: center;
  }

  &:hover {
    color: @primary-color;
    cursor: pointer;
  }

  &.ant-tooltip-disabled-compatible-wrapper {
    border-radius: 2px;
  }
}

.btn-danger {
  color: white;
  background-color: @coral-P2;
  border: 1px solid @coral-P2;

  &:hover,
  &:focus {
    background-color: lighten(@coral-P2, 10%);
    border: 1px solid lighten(@coral-P2, 10%);
    color: white;
  }

  &.ant-tooltip-disabled-compatible-wrapper {
    border: none;
    border-radius: 2px;
  }
}

.btn-danger-secondary {
  display: block;
  background-color: white;
  border-color: @coral-P1;
  color: @coral-P2;

  &:hover {
    color: lighten(@coral-P1, 10%);
    border-color: lighten(@coral-P1, 10%);
    cursor: pointer;
  }

  &.ant-tooltip-disabled-compatible-wrapper {
    border: none;
    border-radius: 2px;
  }
}

.btn-fixed {
  width: 200px;
}

.btn-wide {
  width: -moz-available;
  width: -webkit-stretch;
  width: stretch;

  button {
    width: -moz-available;
    width: -webkit-stretch;
    width: stretch;
  }
}

.icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 2px;
  width: 20px;
  height: 20px;

  button:disabled {
    background-color: transparent;
    border: transparent;
    padding: 0;
    width: 100%;
  }

  &.large {
    font-size: 18px;
  }
}
.icon-button:hover {
  cursor: pointer;
}

.icon-button:hover svg {
  font-size: 16px;
}

.icon-button.large:hover svg {
  font-size: 20px;
}

.cascader-btn {
  .anticon {
    margin-right: 8px;
  }

  .anticon-right {
    margin-right: 0px;
    height: 10px;
    width: 10px;
    color: rbga(0, 0, 0, 0.75);

    svg {
      height: 10px;
      width: 10px;
    }
  }

  button:disabled {
    background-color: transparent;
    border: none;
    padding: 0px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.ix-cascader-dropdown {
  .ant-cascader-menu {
    height: auto;
  }

  .link {
    padding: 5px 12px;
  }
}

.ant-dropdown-menu-item {
  .btn-dropdown {
    padding-left: 0;
    width: 100%;
    display: flex;
    line-height: 26px;
    .anticon {
      padding: 4px 0;
      svg {
        height: 18px;
        width: 18px;
      }

      svg.net-inspect-icon {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.ant-btn:disabled {
  cursor: not-allowed;
}

/* Panel */

.ant-layout-sider-children {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side-panel-content {
  display: flex;
  flex-flow: column;
  padding: 0px 20px 20px;
  height: calc(100% - @row-height);
  overflow-y: auto;

  * {
    .ant-legacy-form-item-control-wrapper {
      width: 100%;
      margin-bottom: 12px;
    }
  }
}

.sider-panel-progress-footer {
  padding: 0 20px !important;
  width: 100%;
  border-top: 1px solid @gray-M1;

  .progress-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 16px;
    padding: 4px 0px;
    background-color: white;
  }
}

.single-button-footer {
  .progress-footer {
    justify-content: space-around;
  }
}

.sider-panel-progress-header {
  padding: 0 20px !important;
  width: 100%;
  margin-top: 0px !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  .progress-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 0px;
    background-color: white;
  }
}

.list-page-drawer {
  * {
    .ant-drawer-body {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: hidden;

      form {
        padding-top: @row-height;
        padding: @row-height @half-height 0 @half-height;
        height: auto;
        overflow-y: auto;

        .select-save-input {
          max-width: none;
        }
      }
    }
  }

  &.old-revision {
    .ant-drawer-body {
      overflow-x: hidden;
    }

    .old-rev-bar {
      width: 344px;
      background-color: @sunshine;
      margin-left: -20px;
      margin-bottom: -20px;
      text-align: center;
      font-size: 16px;
      height: 32px;
      line-height: 40px;
    }
  }

  &.trial {
    height: calc(100% - @row-height);
  }
}

.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: @ix-shadow-left !important;
}

.ant-drawer-body section {
  margin: 0;
}

.part-drawer-form {
  padding: 0 0;
}

/* Parts List Page */

.parts-list {
  background-color: white;
  display: flex;
  flex: 1;
  flex-flow: column;
}

.parts-list .wrapper,
.jobs-list .wrapper {
  padding: 48px 80px 0px 80px;
  position: relative;
}

/* Table */

.ant-table-tbody tr td.actions {
  padding: 0;
}

.ant-table-row .part-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.ant-table-row .icon-button path:first-child {
  fill: #fafafa;
}
.ant-table-row .icon-button path:nth-child(2) {
  fill: #e8e8e8;
}
.ant-table-row .icon-button path:nth-child(3) {
  fill: #e8e8e8;
}
.ant-table-row:hover .icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-table-row:hover .part-delete path:first-child {
  fill: rgb(255, 241, 240);
}
.item-panel-header-tools button.part-delete path:nth-child(1),
.ant-table-row:hover .part-delete path:nth-child(2) {
  fill: rgb(245, 34, 45);
}

.item-panel-header-tools button.part-extract path:first-child {
  fill: @azure;
}
.ant-table-row:hover .part-extract path:first-child {
  fill: lighten(@azure, 80%);
}
.item-panel-header-tools button.part-extract path:nth-child(2),
.ant-table-row:hover .part-extract path:nth-child(2) {
  fill: @azure;
}

.ant-table-row:hover .part-revision:not(.ant-tooltip-disabled-compatible-wrapper) path:first-child {
  fill: lighten(@sunshine, 80%);
}

.ant-table-row:hover .part-revision:not(.ant-tooltip-disabled-compatible-wrapper) path:nth-child(2) {
  fill: @sunshine;
}

.ant-table-row:hover .part-revision:not(.ant-tooltip-disabled-compatible-wrapper) path:nth-child(3) {
  fill: @sunshine;
}

.ix-table-row:hover > .ix-table-cell {
  background-color: @primary-color-M2;
}

.ix-table-row-unread > td {
  font-weight: bold;
}

.ix-table-row-read > td {
  background-color: @gray-M1;
}

.ant-table-tbody > tr > td.ix-autoballoon-cell {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  .ant-progress-text {
    .anticon {
      font-size: 1.4em;
    }
  }
  .anticon {
    font-size: 2em;
  }
  .ant-progress {
    margin: 0 0.5em;
  }
}

// Restricted part
.ant-table-tbody tr.ant-table-row.disabled td {
  opacity: 0.3;
}

.ant-table-tbody tr.ant-table-row.disabled:hover {
  td.actions {
    opacity: 1;
    background-color: rgba(250, 250, 250, 0.3);
    border-bottom: 1px solid rgba(240, 240, 240, 0.3);
  }
}

.ant-table-column-sorters {
  display: flex;
  justify-content: space-between;
}

.main-table.drawer-open {
  margin-right: 360px;
}

.drawer-open {
  margin-right: 360px;
}

/* Part Info Drawer */

section.drawer-actions {
  display: flex;
  justify-content: space-between;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

section.list-drawer-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  height: 48px;
  border-top: 1px solid @gray-M1;
  padding-top: 12px;

  .anticon {
    height: 24px;
    width: 48px;
    text-align: center;
    padding: 0 12px;

    svg {
      height: 24px;
      width: 24px;
    }
  }
}

section.part-info .customer-select {
  padding-left: 0px;
}

.part-status {
  display: flex;
  flex-flow: column;
}

.part-status.form-section {
  padding: 0;
}

.form-buttons {
  justify-content: space-between;
}

/* Part Status Indicator */

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.indicator.Active {
  background-color: #52c41a;
}

.indicator.Deleted {
  background-color: #f5222d;
}

.indicator.Inactive {
  background-color: #1890ff;
}

.indicator.Verified {
  background-color: #52c41a;
}

.indicator.Unverified {
  background-color: #f5222d;
}

.indicator.Ready_for_Review {
  background-color: #1890ff;
}

/* Edit In Place */

.edit-in-place {
  margin: 5px 0;
}

.edit-in-place small {
  padding-left: 12px;
  font-size: 0.9em;
  color: gray;
}

.edit-in-place textarea:hover {
  border: 1px @primary-color solid;
}

.edit-in-place textarea:focus {
  border: 1px @primary-color solid;
  box-shadow: @primary-color;
}

.edit-in-place {
  &.saving {
    textarea:focus {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

/* File List */

// .file-list ul {
//   counter-reset: file;
//   padding-left: 10px;
// }

// .file-item {
//   display: flex;
//   justify-content: space-between;
// }

// .file-item a {
//   max-width: 210px;
//   margin: 2px 0;
//   word-wrap: break-word;
// }

// .file-item a:before {
//   counter-increment: file;
//   content: '\2022';
//   margin-left: -10px;
//   padding-right: 5px;
// }

// .file-item:hover {
//   background-color: #e6f7ff;
// }

// .file-item .file-delete {
//   background: transparent;
//   border: none;
//   display: none;
// }

// .file-item:hover .file-delete {
//   display: inline-block;
// }

// .file-delete:hover,
// .file-upload:hover {
//   cursor: pointer;
// }

// .file-upload {
//   background: transparent;
//   border: none;
//   color: #1b62e9;
//   font-weight: bolder;
//   margin-left: 5px;
// }

// /* Drag and Drop */

// .file-list {
//   min-height: 45px;
//   position: relative;
// }

// .file-list-dragger.ant-upload-drag {
//   display: none;
//   position: absolute;
//   border: 2px dashed #00318b;
//   padding: 10px;
// }

// .file-list-dragger .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
//   border-color: #40a9ff;
// }

// .file-list-dragger .ant-upload-drag .ant-upload-btn,
// .file-list-dragger .ant-upload-btn,
// .file-list-dragger .ant-upload-btn.ant-upload,
// .file-list-dragger .ant-upload-drag .ant-upload-drag-container {
//   padding: 0 0 0 0;
//   display: flex;
//   align-items: center;
// }

// .ant-upload.ant-upload-drag.file-list-dragger .ant-upload-drag-container {
//   justify-content: space-evenly;
//   align-content: center;
// }

// .file-list-dragger .ant-upload-drag-icon {
//   font-size: 30px;
// }

// .file-list-dragger .ant-upload-drag-container p,
// .file-list-dragger .ant-upload-drag-container small {
//   display: block;
//   font-weight: bold;
//   margin: 0 5px;
// }
// .ant-upload.file-list-dragger.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover small,
// .ant-upload.file-list-dragger.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover p {
//   opacity: 0.7;
// }

// .ant-upload.ant-upload-drag p.ant-upload-drag-icon {
//   margin: 0;
// }

// .ant-upload-drag-container {
//   .ant-upload-drag-icon {
//     .anticon {
//       height: fit-content;
//       justify-content: center;
//     }
//   }
// }

/* Part Upload */

// .file-upload span:first-child {
//   width: 100%;
//   margin-top: 20px;
//   height: 300px;
// }

// .upload-actions {
//   width: 100%;
// }

// .file-upload .file-upload-dragger {
//   border: 2px dashed #00318b;
//   flex: 1;
//   min-width: 30%;
// }

// .file-upload .file-upload-dragger .ant-upload-drag {
//   border: none;
//   flex: 1;
//   min-width: 30%;
// }

// .file-upload .file-upload-dragger:hover {
//   border-color: #40a9ff;
// }

// .file-upload .file-upload-dragger:hover p {
//   opacity: 0.7;
// }

// .file-upload .ant-upload-list {
//   padding-left: 20px;
//   overflow: hidden;
// }
// .file-upload .ant-upload-list:empty {
//   display: none;
// }

// .file-upload .ant-upload-list-item-info,
// .file-upload .ant-upload-list-item {
//   width: 100%;
//   display: flex;
// }

// .file-upload .ant-upload-list-item-info:before {
//   counter-increment: file;
//   content: '\2022';
//   margin-left: -10px;
//   padding-right: 5px;
// }

// .file-upload .ant-upload-list-item-info span:first-child {
//   width: 100%;
//   height: auto;
//   margin: 0;
// }
// .file-upload .anticon.anticon-paper-clip {
//   display: none;
// }
// .file-upload span.ant-upload-list-item-name {
//   display: block;
//   width: auto;
//   height: auto;
//   flex: 1;
//   padding: 0;
//   margin: 0;
// }
// .file-upload span.ant-upload-list-feature-card-actions {
//   display: block;
//   width: auto;
//   flex: 1;
//   padding: 0;
//   margin: 0;
// }

/* Loader/Error */

.error-container,
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.75);

  &.metro-loader {
    position: absolute;
    top: 80px;
  }
}

.error-container {
  background: white;
}

.loaderBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.75;
  z-index: -1;
}

.ant-result {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

/* settings */
#settings {
  padding: 48px 80px 0px 80px;

  .loader {
    width: 100%;
    height: 100%;
  }
}

.ant-tooltip {
  z-index: 2000;
}

.ant-tooltip-inner {
  background-color: lighten(black, 15%);
}

.loader-indicator {
  .ant-spin-dot-item {
    background-color: @primary-color;
  }
}

// Forms
.ant-row.ant-legacy-form-item {
  flex-direction: column;
  margin-bottom: 16px;

  * {
    .ant-select {
      width: 100%;
    }
  }
}

.ant-form-vertical {
  div {
    .ant-row {
      .ant-col {
        width: 100%;
      }
    }
  }
}

.split-col {
  flex: 1;

  &.left {
    margin-right: 24px;
  }
}

.ant-legacy-form-item-children {
  color: red;
}

.modal-capture {
  height: 48px;
  text-align: left;
}
