.ixc-measure-content {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.ixc-numpad-overlay {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
