@import 'styleguide/AntDesignCustomTheme.less';

main.has-drawer {
  padding: 0;
  height: 100%;

  .content,
  .ant-layout-sider {
    padding: 0px;
  }

  .content.wizard-drawer,
  .ant-layout-sider.wizard-drawer {
    padding: 0;
    box-shadow: @ix-shadow-right;
  }
}

.wizard-drawer {
  background-color: white;
  box-shadow: @ix-shadow-right;
  overflow-y: auto;
  z-index: 3;
}

.part-analysis-sider {
  background-color: white;
  box-shadow: @ix-shadow-right;
  height: 100%;
  overflow: auto;

  .preset-row {
    width: 100%;
    margin: 0 0 12px 0;
  }
}

.trial .wizard-drawer,
.trial .part-analysis-sider {
  height: 100%;
}

.limit-modal {
  color: @coral-P2;
  margin: 0;

  i {
    margin-right: 10px;
  }
}

.span-bold {
  font-weight: bold;
}

.card-type {
  display: inline-block;
  margin-right: 5px;
  overflow: none;
  width: 36px;

  img {
    width: 100%;
  }
}

.card-span {
  display: flex;
  margin: 0 8px 8px 0;
}

.flex {
  display: flex;

  .flex-col {
    flex: 1;
    margin: 0 10px 20px;
  }
}

.cardModal .ant-modal-confirm-btns .ant-btn-primary {
  display: none;
}

.ix-info-alert {
  height: 24px;
  margin: 12px 0 !important;
}

.ant-alert.ant-alert-closable.ant-alert-no-icon {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ant-alert-close-icon {
  top: 0px !important;
}

.ant-alert-info {
  background-color: @azure-M3;
  border-color: @azure;
  margin: 8px 0;
}

.grid-status-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.grid-preview-container {
  position: relative;

  .grid-label {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: @gray;

    &.top-left {
      position: absolute;
      z-index: 10;
      left: 9.5%;
      top: 9.5%;
    }
    &.top-right {
      position: absolute;
      z-index: 10;
      right: 26%;
      top: 9.5%;
    }
    &.bottom-left {
      position: absolute;
      z-index: 10;
      left: 9.5%;
      bottom: 9.5%;
    }
    &.bottom-right {
      position: absolute;
      z-index: 10;
      right: 26%;
      bottom: 9.5%;
    }
  }
}

.upload-link {
  text-decoration: underline;
}
