@import 'styleguide/AntDesignCustomTheme.less';

div.logo {
  width: 100%;
  height: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  background-color: @primary-color-P2;

  svg {
    color: @secondary-color;
    display: block;
    margin: 0 auto;
  }

  :hover {
    cursor: pointer;
  }
}

.fake-icon {
  display: flex;
  .notification-qty-badge {
    position: absolute;
    top: 4px;
    right: 24px;
  }
  .nav-text {
    font-size: 14px;
    line-height: 40px;
    text-align: left;
    text-size-adjust: 100%;
    white-space: nowrap;
    font-weight: 600;
  }
}
