@import 'styleguide/AntDesignCustomTheme.less';

.item-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid @gray-M1;
  justify-content: space-between;
  padding: 0 8px;
  gap: 4px;
  height: @row-height;

  &.collapsed {
    justify-content: center;
  }

  .item-panel-header-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    button > span {
      vertical-align: 0;
    }
  }
}

.single-custom-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.custom-popover-title {
  .anticon {
    margin-right: 8px;
    color: @azure;
  }
}
