@import 'styleguide/AntDesignCustomTheme.less';

@font-face {
  font-family: 'InspectionXpert GDT';
  src:
    local('InspectionXpert GDT'),
    url('../fonts/InspectionXpertGDT.woff') format('woff');
}

.gdt {
  font-family: 'InspectionXpert GDT';
  min-width: 58px;
}

.special-character-modal {
  height: 500px;

  .modal-input {
    text-align: left;
    font-family: 'InspectionXpert GDT';
    margin-bottom: 2px;
  }

  .ant-modal-body {
    .ant-form {
      label.ant-checkbox-wrapper {
        span {
          color: rgba(0, 0, 0, 0.85);
        }
      }

      .ant-row {
        .form-column-full-width {
          width: 100%;
        }
      }
    }

    .character-bank-header,
    .character-bank-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 16px;
      height: 32px;

      h4.label {
        line-height: 32px;
        color: rgba(0, 0, 0, 0.85);
      }

      .ant-btn-link {
        padding: 4px 0;
      }
    }

    .character-bank-footer {
      margin-top: 4px;
    }

    .character-bank {
      margin-top: 4px;

      button {
        width: 48px;
      }
    }

    .ant-tabs {
      height: fit-content;
      margin: 8px 0;
    }
  }

  .modal-pane {
    height: 500px;
    overflow-y: auto;
  }
}

.character-bank {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;

  button.gdt {
    font-family: 'InspectionXpert GDT';
    font-size: 18px;
    width: 30px;
    height: 30px;
    padding: 0;
    min-width: 24px;
    margin: 2px;
  }
}

.character-bank.column {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  overflow-y: scroll;
  border: 1px solid @gray-M1;

  .character-row {
    max-height: 40px;
    flex: 1 1 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    button {
      width: 48px;
      margin-right: 16px;
    }
  }
}

.insert-modal-opener {
  background-color: @primary-color;
  padding: 2px;
  height: @half-height;
  width: @half-height;
  line-height: @half-height;
  border: 0px;

  svg {
    height: 14px;
    width: 14px;
    color: @secondary-color;
    line-height: @half-height;
    margin-top: 3px;
  }
}

.insert-modal-opener:hover {
  background-color: lighten(@primary-color, 10%);
  border: 0;
}

.insert-modal-opener:focus {
  background-color: lighten(@primary-color, 10%);
  border: 0px;
}

.ant-modal-title {
  font-family: 'DM Sans';
  font-size: @half-height;
  color: @primary-color;
}

.general-modal {
  width: max-content;
  .ant-modal-content {
    width: max-content;
    .ant-modal-body {
      width: max-content;
    }
    .modal-body {
      // display: inline-flex;
      justify-content: space-between;

      .modal-section {
        width: max-content;
      }
    }
    .ant-modal-footer {
      .custom-modal-footer {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.part-continue-modal {
  div.ant-modal-content {
    div.ant-modal-body {
      width: 500px;
      margin-right: 20px;
    }
  }
}

// .all-chars-btn {
//   width: 132px !important;
//   line-height: 24px !important;
//   color: @secondary-color;
// }

.draggable-modal-area {
  width: 100%;
  cursor: move;
}

/* File Upload Modal */
.ix-modal {
  .ant-modal-content {
    .ant-modal-close {
      height: 36px;
      width: 36px;
      line-height: 36px;
      padding: 10px 10px;

      .ant-modal-close-x {
        height: 16px;
        width: 16px;
        line-height: 16px;
      }
    }
  }

  .ant-modal-body {
    .file-upload {
      .ant-upload.ant-upload-drag.file-upload-dragger {
        transition: @smooth-transition;

        .ant-upload-btn {
          padding: @column-width;
          transition: @smooth-transition;
        }

        &.file-upload-dragger-disabled {
          .ant-upload-btn {
            transition: @smooth-transition;
            opacity: 0.3;
            pointer-events: none;
          }

          &:hover {
            cursor: not-allowed;
          }
        }

        &.file-upload-dragger-condensed {
          transition: @smooth-transition;

          .ant-upload-btn {
            padding: @half-height @half-width;
            transition: @smooth-transition;
          }
        }

        * {
          .ant-upload-drag-icon {
            margin-bottom: 8px;
          }
          .ant-upload-file-type-icons {
            margin-bottom: @half-height;

            .anticon {
              height: @half-height;
              width: @half-height;
              color: @primary-color;

              svg {
                height: @half-height;
                width: @half-height;
              }
            }
          }
        }
      }

      .file-upload-error-message {
        p {
          margin: 4px 0;
          color: #ff4d4f;
          font-size: 14px;
          line-height: 1.5715;
        }
      }

      .file-upload-limit-message {
        p {
          margin: 4px 0;
          color: @success-color;
          font-size: 14px;
          line-height: 1.5715;
        }
      }
    }

    .ab-info {
      margin: 0;
      padding: 8px 0;
    }

    .upload-info {
      color: @success-color;
      margin: 0;
      padding-top: 5px;
    }

    .file-container {
      align-items: center;
      display: flex;
      padding-bottom: 8px;

      .ant-upload-list-item {
        align-items: center;
        display: flex;
        flex: 1;
        font-size: 14px;
        height: 40px;
        margin: 0;

        .file-upload-error-message {
          color: @coral;
        }
      }

      .delete {
        background-color: transparent;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }

      .icon {
        padding-right: 5px;
      }

      .file-name {
        flex: 1;
        padding: 0 0;
      }

      .set-ocr {
        margin-right: 10px;

        input {
          color: @primary-color;
        }
      }
    }
  }
}

.gdt-font-modal {
  .prompt-images {
    display: flex;
    justify-content: space-evenly;

    .label {
      font-weight: bold;
    }
  }

  .checkboxMenu {
    align-items: center;
    color: #000000a6;
    display: flex;
    height: @half-height;

    input {
      margin: 0 2px;
    }
  }

  .checkboxInput {
    align-items: center;
    display: flex;
    height: @half-height;

    input {
      margin-right: @quarter-height;
    }
  }

  .promptFooter {
    align-items: center;
    display: flex;
    flex-direction: row;

    label {
      flex: 1;
    }
  }
}
