.ant-table-cell {
  .customer-select {
    max-width: 240px;
    .form-input {
      margin: 0;

      .label-text {
        visibility: hidden;
        display: none;
      }
    }
  }

  .used-styles-preview {
    .anticon-plus-circle {
      line-height: 28px;
      padding: 0 17px;
      align-self: center;
      opacity: 0.25;
    }
  }
}

.ant-table-row:hover {
  * {
    .anticon-plus-circle {
      opacity: 1;
    }
  }
}

.styles-table-container {
  .add-option {
    margin-top: 16px;
    margin-left: 4px;

    .additional {
      .ix-two-tone-icon {
        margin-right: 20px;
      }
    }
  }
}
