@import 'styleguide/AntDesignCustomTheme.less';

.config-table {
  .ant-table-body {
    scroll-behavior: smooth;
  }
}

.table-item-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 211px;

  .list-input-container {
    width: 100%;
  }

  .list-input-error {
    border-color: red;
  }

  .item-actions {
    width: 40px;

    .item-delete {
      margin-left: 8px;
      color: @coral-P1;
      opacity: 0.25;
    }
  }
}

.list-order {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.measurement-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;

  .anticon-info-circle {
    color: @primary-color-P1;
  }

  .measurement-select {
    width: 100%;
    margin-right: 4px;
  }

  .measurement-units {
    text-align: center;

    .measurement-units-text {
      margin: 0px 0px;
      color: @primary-color-P1;
      cursor: help;
    }
  }

  .select-div {
    margin-right: 8px;
    width: 90%;
  }

  .unit-div {
    width: 10%;
  }

  .anticon-question-circle {
    color: @primary-color-P1;
  }
}

.unit-tip-container {
  display: flex;
  flex-direction: row;

  * {
    .unit-list-header {
      height: 24px;
      margin-bottom: 2px;
    }

    p {
      height: 16px;
      line-height: 16px;
      margin-bottom: 2px;
    }

    .unit-list {
      padding-left: 20px;
    }
  }

  hr.vertical {
    height: 100%;
    width: 1px;
    border: 1px solid black;
    margin: 4px 8px;
  }
}

td.config-value-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: flex-end;

  .anticon {
    margin-right: 4px;
  }
}

div.config-cell-container {
  width: 100%;
  max-width: calc(@column-width * 3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .row-label {
    margin-right: 8px;
  }

  .anticon-plus-circle {
    opacity: 0.25;
    align-self: center;
  }
}

.unit-div {
  opacity: 0.25;
}

.ant-table-row:hover {
  * {
    .anticon-plus-circle {
      opacity: 1;
      align-self: center;
    }

    .item-delete {
      opacity: 1;
    }

    .unit-div {
      opacity: 1;
    }
  }
}

.config-table-leaf {
  display: flex;
  flex-direction: row;

  .item-order-select-container {
    margin-right: 8px;
  }
}

.grabbing {
  cursor: grabbing;
}
.grabbing * {
  cursor: grabbing;
}

.config-table-leaf {
  .token-handle {
    display: inline-grid;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;

    svg {
      fill: @slate;
      height: 20px;
      width: 16px;
    }
  }
}

.config-lists-actions {
  margin-bottom: @half-height;
  .config-list-actions-right {
    display: flex;
    flex-direction: row;

    .inactive-checkbox {
      white-space: nowrap;
      align-self: center;
      margin-left: 16px;
    }
  }
}

.list-table-container {
  margin-bottom: @row-height;
}

.delete-list-item-warning {
  display: flex;
  flex-direction: column;

  div {
    .important {
      font-weight: bold;
    }
  }
}

.span-icon {
  color: @primary-color-P1;
  margin-left: 8px;
  opacity: 0.25;
}

th:hover {
  * {
    .span-icon {
      opacity: 1;
    }
  }
}

.row-dragging {
  display: flex;
  flex-direction: row;

  .table-value {
    visibility: hidden;
  }

  .table-active-toggle {
    visibility: hidden;
  }
}
