.connection-create {
  .ant-steps {
    margin-bottom: 25px;
  }

  .steps-content {
    .instructions {
      margin-bottom: 10px;
    }

    .review-selections {
      .selection {
        font-weight: bold;
      }

      .destinations {
        margin-top: 6px;
      }
    }
  }

  .steps-action {
    button {
      margin: 10px 0 0 0;
    }
  }
}

.connection-view {
  button.create {
    margin-bottom: 20px;
  }

  hr {
    margin: 20px 0;
  }

  .existing-connection {
    margin-bottom: 25px;

    header {
      display: flex;
      align-items: center;

      h2 {
        margin: 0 12px 0 0;
      }

      a {
        margin: 4px 0 0 12px;
      }

      .disabled-indicator {
        margin: 4px 0 0 4px;
        font-weight: bold;
      }
    }

    h2 {
      margin-bottom: 0;
    }

    h3 {
      margin: 0 0 0 8px;
    }

    .source {
      h3 {
        margin-bottom: 0;
      }

      .source-name {
        margin-left: 8px;
      }
    }

    .destinations {
      margin-top: 20px;

      .destination-name {
        margin-left: 8px;
      }
    }
  }

  .connection-badge {
    cursor: pointer;
  }
}

.configure-destinations {
  .destination {
    margin: 25px 0;
  }
}

.connection-edit {
  h4 {
    color: #000;
  }

  .back {
    margin-bottom: 25px;
  }

  .state-controls {
    margin-bottom: 20px;

    button {
      margin-left: 8px;

      &.toggle-enabled {
        margin-left: auto;
      }
    }
  }

  .source {
    .heading {
      display: flex;
      align-items: center;

      h2 {
        margin-bottom: 0;
      }
    }

    margin-bottom: 25px;
  }

  .destinations {
    button {
      &.save {
        margin: 8px 0 0 0;
      }
    }

    .heading {
      display: flex;
      align-items: center;

      h2 {
        margin: 0 250px 0 0;
      }

      button {
        margin-left: 8px;

        &.connect-destination {
          margin: -8px 0 0 12px;
        }
      }
    }

    .connected-destination {
      .heading {
        display: flex;
        align-items: center;
        padding: 10px;

        h3 {
          margin-bottom: 0;
        }

        button.disconnect {
          margin-left: 12px;
        }
      }

      .credentials {
        display: block;

        .save-container {
          display: flex;
          justify-content: flex-end;

          button.save-credentials-changes {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.connect-destinations {
  .list {
    display: flex;
    align-items: center;

    .destination-item {
      margin: 20px;
      cursor: pointer;

      &.selected {
        border: 1px solid green;
      }
    }
  }
}

.destination-credentials {
  > div {
    max-width: 50%;
  }
}

.save-container {
  max-width: 50%;
}

.ant-badge-status-dot {
  height: 12px;
  width: 12px;
}
