.ixc-operator-container {
  background-color: black;
  color: white;
  padding: 48px 80px;
}

.ixc-user-grid-container {
  flex-wrap: wrap;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ixc-user-grid-item {
  padding: 30px;
}
