.nav-menu {
  margin-top: 0px;
  margin-left: 0px;
  background-color:darkslateblue;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: left;
  position: fixed;
  top: 0px;
  left: -30px;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content:left;
  align-items: left;
  padding: 5px 5px 5px 5px;
  list-style: none;
  height: 70px;
  width: 200px;
}

.nav-menu-items {
  width: 160px;
  margin-left: 0px;
  font-size: 30px;
  background: darkslateblue;
}

span {
  margin-left: 5px;
}

.nav-text a {  
  color: white;
  font-size: 20px;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 0px;
  border-radius: 1px;
}

.nav-text a:hover {
  background-color: rgb(181, 156, 228);
  color: white;
  text-decoration: none;  
}
