@import 'styleguide/AntDesignCustomTheme.less';

.tolerance-tables {
  display: flex;
  flex-direction: row;

  .tolerance-section {
    max-width: 480;
  }
}

.tables-spacer {
  width: 1px;
  border-left: 1px solid @gray;
  margin: 0 24px;
}

.tolerances-table-container > .add-option {
  margin-top: 16px;
  margin-left: 4px;

  .additional {
    .ix-two-tone-icon {
      margin-right: 20px;
    }
  }
  margin-bottom: 24px;
}

.ant-table-cell {
  .customer-select {
    max-width: 240px;
  }
}
