@import 'styleguide/AntDesignCustomTheme.less';

:root {
  --open-width: 350px;
  --collapsed-width: 80px;
}

@font-face {
  font-family: 'InspectionXpert GDT';
  src:
    local('InspectionXpert GDT'),
    url('../fonts/InspectionXpertGDT.woff') format('woff');
}
button.invisible {
  background-color: transparent;
  border: none;
  box-shadow: none;

  :hover {
    cursor: pointer;
  }
}

li.ant-list-item {
  font-family: 'InspectionXpert GDT';
  -webkit-transition: @smooth-transition;
  transition: @smooth-transition;
  overflow: hidden;
  border-bottom: 1px solid @gray-M1;
  padding: 0 0 0 0px;

  .ix-list-item {
    height: 100%;
    width: 100%;

    .ant-card {
      height: 100%;
      width: auto;
      padding-left: 4px;

      &.loading {
        cursor: wait;
      }

      .ant-card-body {
        display: flex;
        height: inherit;
        width: inherit;
        padding: 0;

        .ant-card-meta {
          height: inherit;
          width: inherit;
          margin: 0px;
          display: flex;
          flex: 1;
          align-items: center;

          .ant-card-meta-avatar > .feature-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-right: 1px solid @gray-M1;
            padding-right: 4px;

            .balloon-style {
              line-height: auto;
              display: flex;
              align-items: center;

              svg {
                height: 16px;
                width: 16px;
              }
            }

            .balloon-number {
              margin-left: 4px;
            }
          }

          .ant-card-meta-detail {
            text-align: left;
            display: flex;
            width: 100%;
            padding-right: 8px;

            .ant-card-meta-title {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              align-items: center;

              .full-spec-container {
                text-align: left;

                .edit-in-place {
                  .ant-input {
                    padding-left: 4px;
                    &:hover {
                      border-bottom: none;
                      border: 1px solid @primary-color;
                    }
                  }
                }

                .insert-modal-opener {
                  top: 4px;
                }
              }

              .full-spec-static {
                max-width: 200px;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }

        section.item-card-actions {
          background-color: transparent;
          text-align: center;
          line-height: 48px;
          width: fit-content;
          display: flex;
          flex-direction: row;
          padding-left: 8px;
        }

        div.quantity-tag {
          background-color: transparent;
          text-align: center;

          .quantity-badge {
            font-size: 14px;
            border-radius: 0px;

            &.small {
              width: 24px;
            }

            &.medium {
              width: 32px;
            }

            &.large {
              width: 40px;
            }
          }
        }

        div.error-tag {
          background-color: transparent;
          font-size: 24px;
          text-align: center;

          .anticon:hover {
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
          }
        }

        div.loadingstate-tag {
          background-color: transparent;
          font-size: 24px;
          text-align: center;
        }
      }

      // Collapsed Overrides
      &.ant-card-collapsed {
        .ant-card-body {
          .ant-card-meta {
            .ant-card-meta-avatar {
              padding-right: 4px;
              width: 100%;

              .feature-info {
                border-right: none;

                .balloon-style {
                  svg {
                    height: 12px;
                    width: 12px;
                  }
                }

                .balloon-number {
                  max-width: 48px;

                  .ant-select {
                    max-width: 48px;
                  }
                }
              }
            }
          }
        }
      }

      &.note {
        background-color: @note-color;
      }

      &.error {
        background-color: @coral-M2;
      }
    }
  }

  // font size overrides
  &.number-small > .ix-list-item > .ant-card > .ant-card-body {
    .ant-card-meta > .ant-card-meta-avatar > .feature-info {
      .balloon-number {
        font-size: 18px;
        width: 48px;
      }
    }
  }

  &.number-med > .ix-list-item > .ant-card > .ant-card-body {
    .ant-card-meta > .ant-card-meta-avatar > .feature-info {
      .balloon-number {
        font-size: 16px;
        width: 64px;
      }
    }
  }

  &.number-large > .ix-list-item > .ant-card > .ant-card-body {
    .ant-card-meta > .ant-card-meta-avatar > .feature-info {
      .balloon-number {
        font-size: 14px;
        width: 80px;
      }
    }
  }
}

// card hover behavior
li.ant-list-item.inactive {
  :hover {
    -webkit-transition: @smooth-transition;
    transition: @smooth-transition;
    background-color: @primary-color-M2;
  }
}

// Verification Overrides
li.ant-list-item {
  &.active {
    border: 1px solid @seafoam-P1;
    border-left: 8px solid @seafoam-P1;
    box-shadow: 2px 2px 4px fade(@seafoam-P2, 25%);

    div.ant-card,
    div.ant-card div.edit-in-place input,
    .ant-card .edit-in-place .ant-select-selector {
      background-color: white;
    }

    .ant-card-meta-avatar {
      width: fit-content;
      .balloon-number {
        width: fit-content;
      }
    }
  }

  &.unverified {
    border-left: 4px solid @sunshine-P1;

    .ant-card-meta-avatar {
      padding-left: 0;
    }
  }

  &.active.unverified {
    border: 1px solid @sunshine-P1;
    border-left: 8px solid @sunshine-P1;
    box-shadow: 2px 2px 4px rgba(183, 46, 26, 0.25);
  }

  &.verified {
    border-left: 4px solid @seafoam-P1;

    .ant-card-meta-avatar {
      padding-left: 0;
    }
  }

  &.active.verified {
    border: 1px solid @seafoam-P1;
    border-left: 8px solid @seafoam-P1;
    box-shadow: 2px 2px 4px fade(@seafoam-P2, 25%);

    .ant-card-meta-avatar {
      padding-left: 5px;
    }
  }

  &.error {
    border-left: 4px solid @coral-P1;

    .ant-card-meta-avatar {
      padding-left: 0;
    }
  }

  &.active.error {
    border: 1px solid @coral-P1;
    border-left: 8px solid @coral-P1;
    box-shadow: 2px 2px 4px rgba(183, 46, 26, 0.25);
  }

  &.ghosting {
    background-color: @smoke;
    opacity: 0.6;

    &.active {
      border-color: @steel;
    }

    div.ant-card,
    .ant-select,
    .ant-select:not(.ant-select-customize-input) .ant-select-selector,
    div.ant-card div.edit-in-place input,
    .ant-card .edit-in-place .ant-select-selector {
      background-color: @smoke;
      border-color: @smoke;
      opacity: 0.8;
    }
  }
}

// expand feature menu styles
.expand-content {
  display: flex;
  flex-flow: row wrap;
  button {
    flex: 100%;
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #e8e6f7;
      cursor: pointer;
    }
  }

  .expand-action-icon svg {
    width: 20px;
    height: 20px;
  }

  .expand-action-icon {
    font-size: 20px;
    padding: 0 5px;
  }

  .expand-action-label {
    width: 50px;
    flex: 1;
    text-align: left;
    padding-left: 5px;
  }

  .hotkey-label {
    align-self: flex-end;
    display: block;
  }

  button.disabled {
    opacity: 0.5;

    &:hover {
      background-color: none;
      cursor: default;
    }
  }
}

.expand-grouped {
  button {
    height: auto;
  }

  .expand-action-label {
    width: auto;
  }
}

.ant-input-group-wrapper {
  margin-top: 6px;
}

.note:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-width: 12px 0 0 12px;
  border-style: solid;
  border-color: #d7d7d7 #fff;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.popoverFooter {
  padding: 10px 16px;
  text-align: right;
  border-radius: 0 0 2px 2px;
}
.popoverButton {
  margin-right: 10px;
}

.identifiers {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0px 4px;
  font-size: 12px;
  height: 12px;

  span {
    vertical-align: 0px;
  }
}

.note {
  .identifiers {
    right: 16px;
  }
}

.ant-card-collapsed {
  .identifiers {
    right: 0px;
    top: 16px;
    padding: 0px 1px;
  }
}
