@import 'styleguide/AntDesignCustomTheme.less';

.ixc-tool-menu {
  background-color: black;

  li.ant-dropdown-menu-item {
    line-height: 32px;
  }

  svg {
    height: 24px;
    width: 24px;
  }
}

.ixc-toolbar {
  button {
    background-color: black;
  }
  button.ant-btn.ant-btn-link.ant-btn-lg.ant-btn-icon-only {
    margin-top: 0px;
    line-height: 24px;
  }
  .ant-btn:hover {
    background-color: transparent !important;
  }
}

.ant-dropdown-menu-item {
  .anticon {
    color: black;
    height: 24px;
    width: 24px;
  }

  span.option {
    width: 150px;
  }
  span.hotkey {
    font-size: 12px;
    color: grey;
    width: 100%;
    text-align: right;
  }
}

.popover-group-content {
  display: flex;
  flex-flow: row wrap;
  button {
    flex: 100%;
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #e8e6f7;
      cursor: pointer;
    }
  }
  .ant-tooltip-disabled-compatible-wrapper {
    width: 100%;
  }

  .popover-action-icon svg {
    width: 20px;
    height: 20px;
  }

  .popover-action-icon {
    font-size: 20px;
    padding: 0 5px;
  }

  .popover-action-label {
    width: 50px;
    flex: 1;
    text-align: left;
    padding-left: 5px;
  }

  .hotkey-label {
    align-self: flex-end;
    display: block;
  }

  button.disabled {
    opacity: 0.5;

    &:hover {
      background-color: none;
      cursor: default;
    }
  }
}

.group-tooltip-inactive {
  visibility: hidden;
}

.extract-tooltip-inactive {
  visibility: hidden;
}

.expand-tooltip-inactive {
  visibility: hidden;
}

.toolbar-page {
  align-items: center;
  display: flex;
  height: 22px;
  line-height: 22px;

  .pdf-sheet {
    display: flex;
    align-items: baseline;
    padding: 2px 2px 0 2px;

    .ant-select-selector {
      height: 20px;
      margin: 0;
      padding: 0px 4px 0px 4px;
      display: flex;
      align-content: center;
      align-items: center;
      background: transparent;
      border: none;
      color: white;
      font-size: 16px;
    }
    .ant-select-arrow {
      user-select: none;
      color: white;
      position: relative;
      right: auto;
      left: auto;
      top: auto;
      bottom: auto;
    }
    .ant-select-selection-item {
      color: white;
      margin: 0;
      padding: 0;
    }
  }
}

.pdf-sheet-selector {
  left: auto !important;
  right: 5px !important;
  z-index: 1101;
}

.resize-toolbar-popover {
  .ant-popover-inner-content {
    .resize-balloon-col {
      display: flex;
      flex-direction: row;
      gap: 12px;
      .resize-balloon-slider-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .ant-slider {
          width: 160px;
          margin-top: 32px;
        }
      }
      .resize-preview {
        display: flex;
        justify-content: center;
        height: 104px;
        width: 104px;
        box-shadow: 0px 0px 4px inset rgba(0, 0, 0, 0.15);
        background-color: rgba(0, 0, 0, 0.1);
        canvas {
          height: inherit;
          width: inherit;
        }
        .canvas-container {
          overflow: hidden;
          margin: auto auto;
          max-height: 104px;
          max-width: 104px;
        }
      }
    }
  }
}

.ant-slider-tooltip.ant-tooltip-placement-top {
  transform: translateY(-2);
  padding-top: 0px;
  height: 24px;
  .ant-tooltip-content {
    height: 24px;
    .ant-tooltip-inner {
      box-shadow: none;
      padding: 0px;
      min-height: 24px;
      max-height: 24px;
      background-color: white;
      color: black;

      .anticon-loading {
        color: @primary-color;
      }
    }
    .ant-tooltip-arrow {
      bottom: -8px;
    }
  }
}
