.App {
  text-align: left;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


button {
    
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color:black;
  font-weight: bold;
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}



