@import '../../AntDesignCustomTheme.less';

.ixc-nav-header-container {
  background-color: @primary-color-P2;
  height: 80px;
  display: flex;
  align-items: center;
}

.ixc-popover-container {
  .ant-popover-arrow {
    border-color: @primary-color-P2 !important;
  }
  .ant-popover-inner-content {
    background-color: @primary-color-P2;
    color: @smoke-1;
    max-width: 360px;

    button {
      font-size: 14px;
      padding: 10px;
      text-align: left;
      &:hover {
        opacity: 0.8;
      }
      cursor: pointer;
      i {
        font-size: 24px;
        margin-right: 10px;
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
      }
    }
  }
}

.ixc-nav-header-spacer {
  flex-grow: 1;
}

.ixc-nav-header-logo-button {
  &:hover {
    opacity: 0.8;
  }
}

.ixc-nav-header-logo {
  width: 48px;
  height: 48px;
  margin-left: 20px;
  margin-right: 40px;
}

.ixc-nav-header-station {
  &:hover {
    opacity: 0.8;
  }
}

.ixc-nav-header-avatar {
  width: 64px;
  height: 64px;
  margin-left: 20px;
  margin-right: 10px;
  object-fit: cover;
  font-size: 58px;
  color: @smoke-1;
}

.ixc-nav-header-label {
  font-family: 'DM Sans';
  color: @gray;
  font-size: 14px;
  font-weight: bold;
}

.ixc-nav-header-value {
  font-family: 'DM Sans';
  color: @smoke-1;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}

.ixc-nav-header-user {
  display: flex;
  align-items: center;
  &:hover {
    opacity: 0.8;
  }
}

.nav-menu-option {
  width: 160px;
  .anticon {
    margin-right: 16px;
    svg {
      height: 24px;
      width: 24px;
    }
  }

  span {
    font-size: 24px;
  }
}
