.ixc-metro-install-form {
  margin-top: 96px;
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;

  main {
    overflow: hidden;
  }
}

.ixc-metro-select-connection {
  width: 80%;
}

.ixc-job-select-pdf-container {
  height: 300px;
}

.ixc-metro-heading {
  color: #ffffff;
}

.ixc-metro-install-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ixc-install-container {
  padding: 48px 80px;
}

.install-btn {
  position: fixed;
  top: 50%;
  left: 36%;
  width: 500px;
  height: 200px;
  font-size: 3em;
}
