@import 'styleguide/AntDesignCustomTheme.less';

.filter-select {
  p {
    margin-bottom: 5px;
  }

  .add-option {
    padding: 6px 0 0;
  }

  #add-new-option {
    padding: 0;
  }

  .select-container {
    align-items: center;
    display: flex;
    margin: 10px 0;

    .ant-cascader-picker {
      flex: 1;
    }
  }

  .filter-spacer {
    height: 32px;
    width: 46px;
  }

  .delete-spacer {
    height: 32px;
    width: 24px;
  }

  .filter-button {
    background-color: @metro-light-gray;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 5px;

    .anticon {
      margin: 0;
      padding: 8px 5px;
      vertical-align: middle;
    }

    &.active-filter {
      background-color: @primary-color;
      border: none;
      color: white;
    }
  }
}

.filter-popover .ant-popover-inner-content {
  padding: 0;
}

.number-picker {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 200px;

  .picker-container {
    display: flex;
    flex-flow: column;
    margin: 10px 0 15px;
  }

  .ant-input-number {
    width: 80px;
  }
}

.list-picker {
  .ant-checkbox-group {
    display: flex;
    flex-flow: column;
    padding: 10px;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: @primary-color;
    border-color: @primary-color;
  }
}

.popover-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-top: 1px solid @metro-light-gray;
}
