@import 'styleguide/AntDesignCustomTheme.less';

.past-due-modal {
  .ant-modal-content {
    width: calc(@column-width * 5.5);
    .ant-modal-header > .ant-modal-title {
      color: @coral-P2;
    }

    .ant-modal-body {
      .past-due-modal-copy {
        .countdown {
          height: @row-height;
          margin-bottom: 12px;
          .days-left-num {
            line-height: 32px;
            font-size: 32px;
            font-weight: bold;
            color: @coral-P2;
            margin-right: 8px;
          }
          .days-left-text {
            font-size: 16px;
            font-weight: 500;
          }
        }
        .copy {
          margin-bottom: 16px;
        }
        .info-text {
          .contact-methods {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            margin-top: 8px;

            .contact-title {
              font-family: 'DM Sans';
              font-weight: bold;
            }
            .contact-row {
              .anticon {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }

    .ant-modal-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .btn-primary {
        margin-left: 12px;
      }
    }
  }
}
