// TODO: This file should be the source of truth for all compile tools
// Currently; .storybook/webpack.config.js has a seperate list of overrides
// that needs to be pointed at this file.

@primary-color-M2: #e4fcff; //  Helix Teal-5
@primary-color-M1: #c08ad7; //  IXC Primary Color - Xpert Purple - 1
@primary-color: #1b838b; // Helix Teal-80
@primary-color-P1: #78229d; //  IXC Primary Color - Xpert Purple + 1
@primary-color-P2: #1b838b; //  Helix Teal-80
@blue-6: #963cbd;
@secondary-color: #f6f8fa; // IXC Secondary Color - Smoke -1
@primary-heavy: #55196f; // sider trigger - Xpert Purple +2
@nav-icon-hover: #000000; // Nav Sidebar hover - Black

@gray-M1: #d7d7d7;
@gray: #aaaaaa;
@gray-P1: #4c4c4c;
@heavy-gray: #333f48;

@blackberry: #5c4580;
@royal-M4: #e8e6f7;
@royal-M3: #8b84d7;
@royal-M2: #685bc7;
@royal-M1: #2e008b;
@royal: #201547;

@sunshine-M2: #fdf7ef;
@sunshine-M1: #f5d8b1;
@sunshine: #efbe7d;
@sunshine-P1: #e99c4f;
@sunshine-P2: #e47113;

@coral-M2: #fbe9e6;
@coral-M1: #f5c3bb;
@coral: #e56a54;
@coral-P1: #e04f39;
@coral-P2: #b72e1a;

@seafoam-M2: #edfaf8;
@seafoam-M1: #69dbc8;
@seafoam: #00bbb0;
@seafoam-P1: #029d93;
@seafoam-P2: #017f74;

@azure-M3: #e8f0f9;
@azure: #1682ff;

@heavy-blue: #55196f;
@supplement-orange: #e47113;

@slate: #333f48;
@slate-1: #515f69;
@slate-2: #687783;
@slate-3: #889299;
@slate-4: #bfc7cd;
@slate-inactive: #4c4c4c;

@smeel: #b7c3d5;
@steel: #8e9fbc;
@gray: #aaaaaa;
@smoke-1: #f6f8fa;
@smoke: #dde5ed;

@smooth-transition: all 0.3s ease-in-out;
@sunshine-heavy: #e47113;
@warning-sunshine: #ba5808;

@steel: #8e9fbc;
@steel-1: #b7c3d5;

@form-vertical-label-padding: 0px;
@form-vertical-label-margin: 0px;

@quarter-height: 12px;
@half-height: 24px;
@three-quarter-height: 36px;
@row-height: 48px;

@gutter-padding: 20px;
@half-width: 40px;
@column-width: 80px;

@scroll-bar-height: 16px;

@ix-shadow-left: -4px 0px 8px rgba(0, 0, 0, 0.1);
@ix-shadow-right: 4px 0px 8px rgba(0, 0, 0, 0.1);
@ix-shadow-down: 0px -4px 8px rgba(0, 0, 0, 0.1);
@ix-shadow-up: 0px 4px 8px rgba(0, 0, 0, 0.1);
@ix-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

/* Metro colors */
@metro-light-blue: #e8f4ff;
@metro-light-blue-2: #cae6ff;
@metro-highlight-blue: #1682ff;
@metro-light-green: #c3f5bf;
@metro-green: #0da000;
@metro-light-red: #f5bfbf;
@metro-red: #d80000;
@metro-gray: #595959;
@metro-light-gray: #d7d7d7;
@metro-num-primary: #755c9c;
@metro-num-border: #9d8fb3;

/* Ant Design Status Colors */
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@note-color: #fffae5; // color for feature notes

/* Useful Values */
@trial-bar-height: 48px;
@m-row-height: 60px;

.error-message {
  color: @error-color;
}
