@import 'styleguide/AntDesignCustomTheme.less';

/* Mixin */
.title-font {
  font-weight: bold;
  font-family: 'DM Sans';
  font-size: 18px;
  color: black;
}

.sub-title-font {
  font-weight: normal;
  font-family: 'DM Sans';
  font-size: 14px;
  color: @slate;
}
